<div id="registerTip">提醒：<a href="javascript:void(0)">注册并登录</a>微博，您可以浏览更多的内容，享受更多的功能。</div>

<script type="text/javascript">
	$(function(){
		$("#registerTip").click(function(){
			_popRegisterBox();
		});
	});
</script>