<div class="leftCol">
	<div class="formA roundCorner">
		<div class="title">
			<h3>邮件查收</h3>
		</div>
		<p>您的登录信息，已经发送至邮箱 <strong><%= params[:email] %></strong> 请注意查收。
		<p>
			<span>温馨提示：</span>
			如果5分钟后仍未收到邮件，请确认邮件是否被你提供的邮箱系统自动拦截，或被误认为垃圾邮件放到垃圾箱了，或<a href="/contact" target="_blank">联系我们</a>。
		</p>
		<p><%= link_to("&laquo; 返回每经网首页".html_safe, "/") %></p>
	</div>
</div>

<div class="rightCol">
</div>

<div class="clear"></div>

