
<div class="leftCol">
  <div class="formA ">
		<div class="alert_error">
			<b></b>非常抱歉，由于发生了某种错误，此次购买失败。
		</div>
		<div id="mnBottomActions" style="border: none;">
			<%= link_to "<span>重试</span>".html_safe, buy_premium_gms_accounts_url, :class => "btnBlueM"  %>	
			<span class="links">
				<!-- <a href="#">查看支付失败的常见问题及解答</a>  -->
				<!-- <a href="mailto:baishihaojc@163.com?subject=jiangche, hello.">联系我们</a> -->
			</span>
		</div>
  </div>
</div>

<div class="rightCol">
</div>

<div class="clear"></div>