<%= render "general/gms_privacy" %>

<div class="tcBtns" style="border-top: 1px solid #ccc; padding-top: 30px;margin-top: 20px;">
    <%= link_to '<span>取消</span>'.html_safe,premium_gms_articles_path, :class => "btnGrayM" %>
    <%= link_to '<span>同意并继续</span>'.html_safe,premium_gms_accounts_path(:article_id => @article_id, :buy => params[:buy]),:method => :post, :class => "btnBlueM" %>
</div>