<% content_for :render_stylesheet do %>
  <%= stylesheet_link_tag "koubeibang" %>
<% end %>

<% content_for :render_header do %>
  <div id="header"></div>
<% end %>

<div id="footer">
  <%= link_to "", new_koubeibang_url, :class => "a1" %>
</div>
<div class="wrapper">
  <p>铁肩担道义，热血铸口碑。</p>
  <p>继成功举办两届“中国上市公司口碑榜”评选后，第三届口碑榜评选如约拉开帷幕。</p>
  <p>2013年，全球经济开始缓慢复苏，史上最大资金迁徙潮在全球范围内大规模涌动，债市重挫，黄金暴跌，美元飙涨，股市巨震，发达国家的经济危机正在向发展中经济体转移。</p>
  <p>2013年，中国经济出现重大挑战，多数传统行业遭受产能过剩困扰，钱荒成为年度经济热门词，投资、出口遇到增长瓶颈，地方债问题逐步曝光，企业利润连续下滑，众多问题导致股市一蹶不振。</p>
  <p>作为一份专注于公司新闻和投资理财报道的财经媒体，《每日经济新闻》秉承努力说真话、敢于说真话的新闻报道理念，深知经济改革、股市改革的责任重大。</p>   
  <p>我们深知，只有投资者得到实实在在的回报，资本市场的发展才能形成良性循环。成熟市场的成功经验表明，投资者利益才是市场的基石，只有像爱护自己的眼睛一样保护投资者利益，股市才能得到健康发展。华尔街一条公认的守则就是：保护最弱小的投资者，也就是保护整个华尔街。</p>
  <p>显然，只有那些愿意真诚地保护投资者利益的公司，才堪称优秀上市公司。他们诚信面对投资者，追求上市公司股东利益最大化，踏实创造业绩，忠实维护投资者利益。他们的言行应该成为表率，他们的名字应该广为传扬。我们欣喜地看到，自肖钢主席上任以来，证监会加大了对上市公司的监管力度，也加强了对投资者利益的保护。</p>
  <p>此时，作为财经媒体的我们应该挺身而出，将优秀上市公司的美誉记录成册，刻字成碑。 </p>
  <p>2013中国上市公司口碑榜，即将开启，敬请关注。</p>
</div>