<% @title = "每经网Android客户端" %>
<div id="mobileDownload">
  <div id="downloadTopShadow"></div>

  <img id="deviceImg" src="/images/mobile_apps/focus-screenshot.gif" />
  <div id="QRcode">
    <img src="/images/mobile_apps/QR.png" />
    <p>QR码扫描下载</p>
  </div>
  <div id="downloadOpt">
    <a id="downloadBtn" href="http://product.nbd.com.cn/mobiles/android/NBDMobile-NBD-Web-release.apk">download</a>
    <p id="downloadInfo">当前版本：1.1.1&nbsp;&nbsp;&nbsp;系统要求：Android2.1+</p>
  </div>
</div>

<div id="mobileAppExpo">
  <div class="appExpoItem">
    <h2><b>1</b>内容<span class="dot"></span>全面</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">今日头条，滚动新闻一网打尽！<br />市场快讯，最新动态一个不漏！</p>
      <div class="appExpoImg">
        <img src="/images/mobile_apps/screenshot-1.jpg" />
      </div>
    </div>
  </div>

  <div class="appExpoItem">
    <h2><b>2</b>评论<span class="dot"></span>专业</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">专业的点评，精辟的分析。<br />来自全国各地专家的独到见解。</p>
      <div class="appExpoImg">
        <img src="/images/mobile_apps/screenshot-2.jpg" />
      </div>
    </div>
  </div>


  <div class="divider"></div>

  <div class="appExpoItem">
    <h2><b>3</b>直播<span class="dot"></span>实时</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">每日直播，随时随地参与互动！<br />实时更新，让你及时掌握第一手资料！</p>
      <div class="appExpoImg">
        <img src="/images/mobile_apps/screenshot-3.jpg" />
      </div>
    </div>
  </div>

  <div class="appExpoItem">
    <h2><b>4</b>阅读<span class="dot"></span>愉悦</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">轻触滚动，操作方便！<br />精彩配图，生动文字，给您带来新的感官享受。</p>
      <div class="appExpoImg">
        <img src="/images/mobile_apps/screenshot-4.jpg" />
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>	