<% @title = "每经网Android客户端" %>
<div id="mobileDownload">
  <div id="downloadTopShadow"></div>

  <img id="deviceImg" src="/images/mobile_apps/focus-screenshot-iphone.jpg" />
  <div id="iPhoneInstallIntro">
  	<h2>安装方法</h2>
  	<h3>方法一：iPhone上直接安装</h3>
    <ol>
    	<li>进入iPhone手机中的应用商店(App Store)</li>
    	<li>搜索“每日经济新闻官方版”</li>
    	<li>在搜索结果中选择“每日经济新闻官方版”，进入应用下载界面</li>
    	<li>点击“免费”按钮，待按钮显示“安装应用”后，点击安装</li>
    </ol>
    <h3>方法二：在iTunes中下载后，同步安装</h3>
    <ol style="margin-bottom: 30px;">
    	<li>确认该电脑上已安装iTunes (<a href="http://www.apple.com.cn/itunes/download/">下载iTunes</a>)</li>
    	<li><a class="btnBlue" href="https://itunes.apple.com/us/app/mei-ri-jing-ji-xin-wen-guan/id591578767?ls=1&mt=8"><span>在iTunes中查看该客户端</span></a></li>
    	<li>点击“免费”按钮，开始下载</li>
    	<li>下载完成后，通过iTunes同步完成安装 (<a href="http://support.apple.com/kb/HT1386?viewlocale=zh_CN">同步设置详述</a>)</li>
    </ol>
    <p id="downloadInfo">操作系统要求：iOS4.3+</p>
  </div>
</div>

<div id="mobileAppExpo">
  <div class="appExpoItem">
    <h2><b>1</b>内容<span class="dot"></span>全面</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">今日头条，滚动新闻一网打尽！<br />市场快讯，最新动态一个不漏！</p>
      <img src="/images/mobile_apps/iphone_screenshot_1.jpg" />
    </div>
  </div>

  <div class="appExpoItem">
    <h2><b>2</b>评论<span class="dot"></span>专业</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">专业的点评，精辟的分析。<br />来自全国各地专家的独到见解。</p>
      <img src="/images/mobile_apps/iphone_screenshot_2.jpg" />
    </div>
  </div>


  <div class="divider"></div>

  <div class="appExpoItem">
    <h2><b>3</b>直播<span class="dot"></span>实时</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">每日直播，随时随地参与互动！<br />实时更新，让你及时掌握第一手资料！</p>
      <img src="/images/mobile_apps/iphone_screenshot_3.jpg" />
    </div>
  </div>

  <div class="appExpoItem">
    <h2><b>4</b>阅读<span class="dot"></span>愉悦</h2>
    <div class="appExpoDetail">
      <p class="appExpoInfo">轻触滚动，操作方便！<br />精彩配图，生动文字，给您带来新的感官享受。</p>
      <img src="/images/mobile_apps/iphone_screenshot_4.jpg" />
    </div>
  </div>

  <div class="clear"></div>
</div>	