<div class="sectionA">
	<div class="title">
		<h1>编辑文章</h1>
		<span class="opts"><a class="btnGray" href="javascript:history.go(-1);"><span>取消</span></a></span>
	</div>
	<div class="content">
		<%= render 'form' %>
	</div>
</div>
