<div class="leftCol">
  <%= paginate @images %>
  
  <ul>
    <% @images.each do |image|%>
    <li><%= image.id %>, <%= image.desc %></li>
    <% end %>
  </ul>
</div>

<div class="rightCol">
  
</div>

<div class="clear"></div>


