* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u0_original.png");
}

* html .u3_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u3_line.png");
}

* html .u5_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u5_image_sketch.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u6_original.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u8_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u10_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u16_original.png");
}

* html .u20_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u20_image_sketch.png");
}

* html .u24_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Image_1_files/u24_image_sketch.png");
}

