<div id="articleContact">
	如需转载请与《每日经济新闻》报社联系。未经《每日经济新闻》报社授权，严禁转载或镜像，违者必究。<br/>
	版权合作及网站合作电话：021-60900099转688&nbsp;&nbsp;&nbsp;读者热线：4008890008<br/>
	每经订报电话：&nbsp;&nbsp;&nbsp;北京：010-58528501&nbsp;&nbsp;&nbsp;上海：021-61283003&nbsp;&nbsp;&nbsp;深圳：0755-83520159<br/>    
	成都：028-86516389&nbsp;&nbsp;&nbsp;028-86740011&nbsp;&nbsp;&nbsp;无锡：15152247316&nbsp;&nbsp;&nbsp;广州：020-89660257
</div>