<div class="articleCopyright">
<p>如需转载请与《每日经济新闻》报社联系。<br/>未经《每日经济新闻》报社授权，严禁转载或镜像，违者必究。</p>
<p><span>版权合作及网站合作电话：021-60900099转688</span>读者热线：4008890008</p>
<p>每经订报电话:　<br/> 
<span>北京：010-58528501</span>
<span>上海：021-61283003</span>
<span>深圳：0755-83520159</span><br/>
<span>成都：028-86516389 或 028-86740011</span>
<span>无锡：15152247316</span>
<span>广州：020-89660257</span>
</p>
</div>
