<div class="subNavi">
	<ul id="hotKeywords">
		<li class="first"><a href="">热门话题</a><b>:</b></li>
		<li><a href="">"占领华尔街"运动</a></li>
		<li><a href="">中东剧变</a></li>
		<li><a href="">美债危机</a></li>
		<li><a href="">聚焦中国高铁</a></li>
		<li><a href="">阻击通胀</a></li>
		<li><a href="">中国概念股</a></li>
		<li><a href="">人民币的崛起</a></li>
		<li><a href="">风尚生活</a></li>
		<li><a href="">巴菲特</a></li>
		<li class="last"><a href="">关注地方债</a></li>
	</ul>
</div>
<style type="text/css">
#body_site #wrapper {
	margin-top: 0;
}
</style>