body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Home_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:5px;
    width:1000px;
    height:35px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:35px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:5px;
    width:1000px;
    height:35px
}

.u2_original {
    background-image: url('../Home_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:60px;
    top:60px;
    width:210px;
    height:70px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:70px;
}

.u3 {
    position:absolute;
    left:2px;
    top:27px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:60px;
    top:60px;
    width:210px;
    height:70px
}

.u4 {
    position:absolute;
    left:100px;
    top:135px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../Home_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:340px;
    top:60px;
    width:700px;
    height:70px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:70px;
}

.u6 {
    position:absolute;
    left:2px;
    top:27px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:340px;
    top:60px;
    width:700px;
    height:70px
}

.u7_original {
    background-image: url('../Home_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:60px;
    top:160px;
    width:980px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:60px;
    top:160px;
    width:980px;
    height:30px
}

.u9 {
    position:absolute;
    left:73px;
    top:170px;
    width:617px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:123px;
    top:164px;
    width:37px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:358px;
    top:164px;
    width:37px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:800px;
    top:165px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:990px;
    top:165px;
    width:40px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:60px;
    top:433px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../Home_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:60px;
    top:452px;
    width:290px;
    height:3px;
}

.u15 {
    position:absolute;
    left:60px;
    top:452px;
    width:290px;
    height:3px
}

.u16_original {
    background-image: url('../Home_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:60px;
    top:464px;
    width:289px;
    height:249px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:289px;
    height:249px;
}

.u17 {
    position:absolute;
    left:2px;
    top:116px;
    width:285px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:60px;
    top:464px;
    width:289px;
    height:249px
}

.u18_original {
    background-image: url('../Home_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:371px;
    top:219px;
    width:419px;
    height:73px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:419px;
    height:73px;
}

.u19 {
    position:absolute;
    left:2px;
    top:28px;
    width:415px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:371px;
    top:219px;
    width:419px;
    height:73px
}

.u20_original {
    background-image: url('../Home_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:380px;
    top:299px;
    width:276px;
    height:41px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:380px;
    top:299px;
    width:276px;
    height:41px
}

.u22_original {
    background-image: url('../Home_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:372px;
    top:360px;
    width:353px;
    height:363px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:353px;
    height:363px;
}

.u23 {
    position:absolute;
    left:2px;
    top:174px;
    width:349px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:372px;
    top:360px;
    width:353px;
    height:363px
}

.u24 {
    position:absolute;
    left:800px;
    top:215px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Home_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:800px;
    top:234px;
    width:240px;
    height:3px;
}

.u25 {
    position:absolute;
    left:800px;
    top:234px;
    width:240px;
    height:3px
}

.u26 {
    position:absolute;
    left:800px;
    top:450px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../Home_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:800px;
    top:469px;
    width:240px;
    height:3px;
}

.u27 {
    position:absolute;
    left:800px;
    top:469px;
    width:240px;
    height:3px
}

.u28_original {
    background-image: url('../Home_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:60px;
    top:731px;
    width:705px;
    height:79px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:705px;
    height:79px;
}

.u29 {
    position:absolute;
    left:2px;
    top:32px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:60px;
    top:731px;
    width:705px;
    height:79px
}

.u30_original {
    background-image: url('../Home_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:800px;
    top:241px;
    width:235px;
    height:194px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:194px;
}

.u31 {
    position:absolute;
    left:2px;
    top:89px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:800px;
    top:241px;
    width:235px;
    height:194px
}

.u32_original {
    background-image: url('../Home_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:800px;
    top:479px;
    width:237px;
    height:241px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:241px;
}

.u33 {
    position:absolute;
    left:2px;
    top:112px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:800px;
    top:479px;
    width:237px;
    height:241px
}

.u34_original {
    background-image: url('../Home_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:790px;
    top:730px;
    width:250px;
    height:80px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:80px;
}

.u35 {
    position:absolute;
    left:2px;
    top:32px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:790px;
    top:730px;
    width:250px;
    height:80px
}

.u36_original {
    background-image: url('../Home_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:60px;
    top:830px;
    width:980px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:7px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:60px;
    top:830px;
    width:980px;
    height:30px
}

.u38 {
    position:absolute;
    left:140px;
    top:838px;
    width:870px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:380px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../Home_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:380px;
    top:904px;
    width:380px;
    height:3px;
}

.u40 {
    position:absolute;
    left:380px;
    top:904px;
    width:380px;
    height:3px
}

.u41_original {
    background-image: url('../Home_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:380px;
    top:917px;
    width:302px;
    height:123px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:123px;
}

.u42 {
    position:absolute;
    left:2px;
    top:54px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:380px;
    top:917px;
    width:302px;
    height:123px
}

.u43 {
    position:absolute;
    left:380px;
    top:1050px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../Home_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:380px;
    top:1069px;
    width:380px;
    height:3px;
}

.u44 {
    position:absolute;
    left:380px;
    top:1069px;
    width:380px;
    height:3px
}

.u45_original {
    background-image: url('../Home_files/u41_original.png');
}

.u45_container {
    position:absolute;
    left:380px;
    top:1082px;
    width:302px;
    height:123px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:123px;
}

.u46 {
    position:absolute;
    left:2px;
    top:54px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:380px;
    top:1082px;
    width:302px;
    height:123px
}

.u47 {
    position:absolute;
    left:380px;
    top:1210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../Home_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:380px;
    top:1229px;
    width:380px;
    height:3px;
}

.u48 {
    position:absolute;
    left:380px;
    top:1229px;
    width:380px;
    height:3px
}

.u49_original {
    background-image: url('../Home_files/u41_original.png');
}

.u49_container {
    position:absolute;
    left:380px;
    top:1242px;
    width:302px;
    height:123px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:123px;
}

.u50 {
    position:absolute;
    left:2px;
    top:54px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:380px;
    top:1242px;
    width:302px;
    height:123px
}

.u51 {
    position:absolute;
    left:380px;
    top:1375px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_line {
    background-image: url('../Home_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:380px;
    top:1394px;
    width:380px;
    height:3px;
}

.u52 {
    position:absolute;
    left:380px;
    top:1394px;
    width:380px;
    height:3px
}

.u53_original {
    background-image: url('../Home_files/u41_original.png');
}

.u53_container {
    position:absolute;
    left:380px;
    top:1407px;
    width:302px;
    height:123px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:123px;
}

.u54 {
    position:absolute;
    left:2px;
    top:54px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:380px;
    top:1407px;
    width:302px;
    height:123px
}

.u55 {
    position:absolute;
    left:380px;
    top:1536px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../Home_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:380px;
    top:1555px;
    width:380px;
    height:3px;
}

.u56 {
    position:absolute;
    left:380px;
    top:1555px;
    width:380px;
    height:3px
}

.u57_original {
    background-image: url('../Home_files/u41_original.png');
}

.u57_container {
    position:absolute;
    left:380px;
    top:1568px;
    width:302px;
    height:123px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:123px;
}

.u58 {
    position:absolute;
    left:2px;
    top:54px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:380px;
    top:1568px;
    width:302px;
    height:123px
}

.u59 {
    position:absolute;
    left:790px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_line {
    background-image: url('../Home_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:790px;
    top:904px;
    width:250px;
    height:3px;
}

.u60 {
    position:absolute;
    left:790px;
    top:904px;
    width:250px;
    height:3px
}

.u61_original {
    background-image: url('../Home_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:790px;
    top:915px;
    width:235px;
    height:505px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:505px;
}

.u62 {
    position:absolute;
    left:2px;
    top:244px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:790px;
    top:915px;
    width:235px;
    height:505px
}

.u63 {
    position:absolute;
    left:790px;
    top:1440px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_line {
    background-image: url('../Home_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:790px;
    top:1459px;
    width:250px;
    height:3px;
}

.u64 {
    position:absolute;
    left:790px;
    top:1459px;
    width:250px;
    height:3px
}

.u65_original {
    background-image: url('../Home_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:793px;
    top:1469px;
    width:197px;
    height:141px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:141px;
}

.u66 {
    position:absolute;
    left:2px;
    top:62px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:793px;
    top:1469px;
    width:197px;
    height:141px
}

.u67 {
    position:absolute;
    left:60px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../Home_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:60px;
    top:904px;
    width:290px;
    height:3px;
}

.u68 {
    position:absolute;
    left:60px;
    top:904px;
    width:290px;
    height:3px
}

.u69_original {
    background-image: url('../Home_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:60px;
    top:917px;
    width:264px;
    height:123px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:123px;
}

.u70 {
    position:absolute;
    left:2px;
    top:54px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:60px;
    top:917px;
    width:264px;
    height:123px
}

.u71_original {
    background-image: url('../Home_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:57px;
    top:1185px;
    width:263px;
    height:125px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:125px;
}

.u72 {
    position:absolute;
    left:2px;
    top:54px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:57px;
    top:1185px;
    width:263px;
    height:125px
}

.u73_original {
    background-image: url('../Home_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:57px;
    top:1450px;
    width:265px;
    height:123px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:123px;
}

.u74 {
    position:absolute;
    left:2px;
    top:54px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:57px;
    top:1450px;
    width:265px;
    height:123px
}

.u75_original {
    background-image: url('../Home_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:60px;
    top:1317px;
    width:220px;
    height:113px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:113px;
}

.u76 {
    position:absolute;
    left:2px;
    top:48px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:60px;
    top:1317px;
    width:220px;
    height:113px
}

.u77_original {
    background-image: url('../Home_files/u75_original.png');
}

.u77_container {
    position:absolute;
    left:60px;
    top:1580px;
    width:220px;
    height:113px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:113px;
}

.u78 {
    position:absolute;
    left:2px;
    top:48px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:60px;
    top:1580px;
    width:220px;
    height:113px
}

.u79_original {
    background-image: url('../Home_files/u75_original.png');
}

.u79_container {
    position:absolute;
    left:60px;
    top:1047px;
    width:220px;
    height:113px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:113px;
}

.u80 {
    position:absolute;
    left:2px;
    top:48px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:60px;
    top:1047px;
    width:220px;
    height:113px
}

.u81_original {
    background-image: url('../Home_files/u28_original.png');
}

.u81_container {
    position:absolute;
    left:60px;
    top:1701px;
    width:705px;
    height:79px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:705px;
    height:79px;
}

.u82 {
    position:absolute;
    left:2px;
    top:32px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:60px;
    top:1701px;
    width:705px;
    height:79px
}

.u83_original {
    background-image: url('../Home_files/u34_original.png');
}

.u83_container {
    position:absolute;
    left:790px;
    top:1700px;
    width:250px;
    height:80px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:80px;
}

.u84 {
    position:absolute;
    left:2px;
    top:32px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:790px;
    top:1700px;
    width:250px;
    height:80px
}

.u85_original {
    background-image: url('../Home_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:60px;
    top:214px;
    width:290px;
    height:186px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:186px;
}

.u86 {
    position:absolute;
    left:2px;
    top:85px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:60px;
    top:214px;
    width:290px;
    height:186px
}

.u87_original {
    background-image: url('../Home_files/u87_original.png');
}

.u87_container {
    position:absolute;
    left:269px;
    top:380px;
    width:79px;
    height:19px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:19px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:269px;
    top:380px;
    width:79px;
    height:19px
}

.u89_original {
    background-image: url('../Home_files/u36_original.png');
}

.u89_container {
    position:absolute;
    left:60px;
    top:1790px;
    width:980px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:60px;
    top:1790px;
    width:980px;
    height:30px
}

.u91 {
    position:absolute;
    left:140px;
    top:1798px;
    width:870px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:410px;
    top:1845px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_line {
    background-image: url('../Home_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:410px;
    top:1864px;
    width:350px;
    height:3px;
}

.u93 {
    position:absolute;
    left:410px;
    top:1864px;
    width:350px;
    height:3px
}

.u94 {
    position:absolute;
    left:60px;
    top:1845px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_line {
    background-image: url('../Home_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:60px;
    top:1864px;
    width:330px;
    height:3px;
}

.u95 {
    position:absolute;
    left:60px;
    top:1864px;
    width:330px;
    height:3px
}

.u96_original {
    background-image: url('../Home_files/u96_original.png');
}

.u96_container {
    position:absolute;
    left:57px;
    top:1874px;
    width:345px;
    height:211px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:345px;
    height:211px;
}

.u97 {
    position:absolute;
    left:2px;
    top:98px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:57px;
    top:1874px;
    width:345px;
    height:211px
}

.u98_original {
    background-image: url('../Home_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:412px;
    top:1873px;
    width:347px;
    height:210px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:347px;
    height:210px;
}

.u99 {
    position:absolute;
    left:2px;
    top:97px;
    width:343px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:412px;
    top:1873px;
    width:347px;
    height:210px
}

.u100 {
    position:absolute;
    left:410px;
    top:2105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_line {
    background-image: url('../Home_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:410px;
    top:2124px;
    width:350px;
    height:3px;
}

.u101 {
    position:absolute;
    left:410px;
    top:2124px;
    width:350px;
    height:3px
}

.u102 {
    position:absolute;
    left:60px;
    top:2105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_line {
    background-image: url('../Home_files/u103_line.png');
}

.u103_line {
    position:absolute;
    left:60px;
    top:2124px;
    width:330px;
    height:3px;
}

.u103 {
    position:absolute;
    left:60px;
    top:2124px;
    width:330px;
    height:3px
}

.u104_original {
    background-image: url('../Home_files/u104_original.png');
}

.u104_container {
    position:absolute;
    left:407px;
    top:2130px;
    width:348px;
    height:209px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:348px;
    height:209px;
}

.u105 {
    position:absolute;
    left:2px;
    top:96px;
    width:344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:407px;
    top:2130px;
    width:348px;
    height:209px
}

.u106_original {
    background-image: url('../Home_files/u106_original.png');
}

.u106_container {
    position:absolute;
    left:53px;
    top:2130px;
    width:346px;
    height:209px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:346px;
    height:209px;
}

.u107 {
    position:absolute;
    left:2px;
    top:96px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:53px;
    top:2130px;
    width:346px;
    height:209px
}

.u108 {
    position:absolute;
    left:410px;
    top:2355px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_line {
    background-image: url('../Home_files/u109_line.png');
}

.u109_line {
    position:absolute;
    left:410px;
    top:2374px;
    width:350px;
    height:3px;
}

.u109 {
    position:absolute;
    left:410px;
    top:2374px;
    width:350px;
    height:3px
}

.u110 {
    position:absolute;
    left:60px;
    top:2355px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_line {
    background-image: url('../Home_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:60px;
    top:2374px;
    width:330px;
    height:3px;
}

.u111 {
    position:absolute;
    left:60px;
    top:2374px;
    width:330px;
    height:3px
}

.u112_original {
    background-image: url('../Home_files/u112_original.png');
}

.u112_container {
    position:absolute;
    left:58px;
    top:2383px;
    width:345px;
    height:210px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:345px;
    height:210px;
}

.u113 {
    position:absolute;
    left:2px;
    top:97px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:58px;
    top:2383px;
    width:345px;
    height:210px
}

.u114_original {
    background-image: url('../Home_files/u114_original.png');
}

.u114_container {
    position:absolute;
    left:410px;
    top:2384px;
    width:342px;
    height:204px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:342px;
    height:204px;
}

.u115 {
    position:absolute;
    left:2px;
    top:94px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:410px;
    top:2384px;
    width:342px;
    height:204px
}

.u116 {
    position:absolute;
    left:410px;
    top:2605px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_line {
    background-image: url('../Home_files/u117_line.png');
}

.u117_line {
    position:absolute;
    left:410px;
    top:2624px;
    width:350px;
    height:3px;
}

.u117 {
    position:absolute;
    left:410px;
    top:2624px;
    width:350px;
    height:3px
}

.u118 {
    position:absolute;
    left:60px;
    top:2605px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_line {
    background-image: url('../Home_files/u119_line.png');
}

.u119_line {
    position:absolute;
    left:60px;
    top:2624px;
    width:330px;
    height:3px;
}

.u119 {
    position:absolute;
    left:60px;
    top:2624px;
    width:330px;
    height:3px
}

.u120_original {
    background-image: url('../Home_files/u120_original.png');
}

.u120_container {
    position:absolute;
    left:407px;
    top:2630px;
    width:343px;
    height:205px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:343px;
    height:205px;
}

.u121 {
    position:absolute;
    left:2px;
    top:94px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:407px;
    top:2630px;
    width:343px;
    height:205px
}

.u122_original {
    background-image: url('../Home_files/u122_original.png');
}

.u122_container {
    position:absolute;
    left:57px;
    top:2631px;
    width:342px;
    height:205px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:342px;
    height:205px;
}

.u123 {
    position:absolute;
    left:2px;
    top:94px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:57px;
    top:2631px;
    width:342px;
    height:205px
}

.u124 {
    position:absolute;
    left:790px;
    top:1846px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_line {
    background-image: url('../Home_files/u125_line.png');
}

.u125_line {
    position:absolute;
    left:790px;
    top:1865px;
    width:250px;
    height:3px;
}

.u125 {
    position:absolute;
    left:790px;
    top:1865px;
    width:250px;
    height:3px
}

.u126 {
    position:absolute;
    left:790px;
    top:2105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_line {
    background-image: url('../Home_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:790px;
    top:2124px;
    width:250px;
    height:3px;
}

.u127 {
    position:absolute;
    left:790px;
    top:2124px;
    width:250px;
    height:3px
}

.u128_original {
    background-image: url('../Home_files/u128_original.png');
}

.u128_container {
    position:absolute;
    left:50px;
    top:2850px;
    width:990px;
    height:90px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:90px;
}

.u129 {
    position:absolute;
    left:2px;
    top:37px;
    width:986px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:50px;
    top:2850px;
    width:990px;
    height:90px
}

.u130_original {
    background-image: url('../Home_files/u130_original.png');
}

.u130_container {
    position:absolute;
    left:792px;
    top:2602px;
    width:248px;
    height:204px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:248px;
    height:204px;
}

.u131 {
    position:absolute;
    left:2px;
    top:94px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:792px;
    top:2602px;
    width:248px;
    height:204px
}

.u132_original {
    background-image: url('../Home_files/u132_original.png');
}

.u132_container {
    position:absolute;
    left:48px;
    top:3150px;
    width:992px;
    height:120px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:992px;
    height:120px;
}

.u133 {
    position:absolute;
    left:2px;
    top:52px;
    width:988px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:48px;
    top:3150px;
    width:992px;
    height:120px
}

.u134_original {
    background-image: url('../Home_files/u134_original.png');
}

.u134_container {
    position:absolute;
    left:60px;
    top:2950px;
    width:973px;
    height:194px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:973px;
    height:194px;
}

.u135 {
    position:absolute;
    left:2px;
    top:89px;
    width:969px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:60px;
    top:2950px;
    width:973px;
    height:194px
}

