body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Stock_s_Weibo_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:40px;
    width:800px;
    height:1270px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:1276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:627px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:100px;
    top:40px;
    width:800px;
    height:1270px
}

.u2_original {
    background-image: url('../Stock_s_Weibo_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:164px;
    width:760px;
    height:980px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:986px;
}

.u3 {
    position:absolute;
    left:2px;
    top:482px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:120px;
    top:164px;
    width:760px;
    height:980px
}

.u4_original {
    background-image: url('../Stock_s_Weibo_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:1190px;
    width:800px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:100px;
    top:1190px;
    width:800px;
    height:40px
}

.u6 {
    position:absolute;
    left:120px;
    top:1201px;
    width:770px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../Stock_s_Weibo_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:100px;
    top:1230px;
    width:800px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:19px;
    width:796px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:100px;
    top:1230px;
    width:800px;
    height:80px
}

.u10_original {
    background-image: url('../Stock_s_Weibo_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:100px;
    top:40px;
    width:800px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:100px;
    top:40px;
    width:800px;
    height:30px
}

.u12 {
    position:absolute;
    left:150px;
    top:49px;
    width:741px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_original {
    background-image: url('../Stock_s_Weibo_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:120px;
    top:90px;
    width:230px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:40px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:120px;
    top:90px;
    width:230px;
    height:40px
}

.u15 {
    position:absolute;
    left:110px;
    top:50px;
    width:350px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:110px;
    top:40px;
    width:60px;
    height:30px
}

.u17 {
    position:absolute;
    left:190px;
    top:40px;
    width:60px;
    height:30px
}

.u18 {
    position:absolute;
    left:600px;
    top:40px;
    width:30px;
    height:30px
}

.u19_menu {
    background-image: url('../Stock_s_Weibo_files/u19_menu.png');
}

.u19_menu {
    position:absolute;
    left:447px;
    top:97px;
    width:250px;
    height:35px;
}

#u20 {
    position:absolute;
    left:3px;
    top:3px;
    width:240px;
    height:25px
}

.u20_table {
    background-image: url('../Stock_s_Weibo_files/u20_table.png');
}

.u20_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:29px;
}

.u21_original {
    background-image: url('../Stock_s_Weibo_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px
}

.u23_original {
    background-image: url('../Stock_s_Weibo_files/u21_original.png');
}

.u23_container {
    position:absolute;
    left:83px;
    top:0px;
    width:83px;
    height:20px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:83px;
    top:0px;
    width:83px;
    height:20px
}

.u25_original {
    background-image: url('../Stock_s_Weibo_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:166px;
    top:0px;
    width:69px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:65px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:166px;
    top:0px;
    width:69px;
    height:20px
}

.u27_image_sketch {
    background-image: url('../Stock_s_Weibo_files/u27_image_sketch.png');
    position:absolute;
    left:698px;
    top:97px;
    width:159px;
    height:31px;
}

.u27 {
    position:absolute;
    left:701px;
    top:100px;
    width:153px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_text_sketch {
    font-family: 'Arial Black';
}

.u28_image_sketch {
    background-image: url('../Stock_s_Weibo_files/u28_image_sketch.png');
    position:absolute;
    left:854px;
    top:97px;
    width:40px;
    height:31px;
}

.u28 {
    position:absolute;
    left:857px;
    top:100px;
    width:34px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_text_sketch {
    font-family: 'Arial Black';
}

.u29 {
    position:absolute;
    left:450px;
    top:100px;
    width:80px;
    height:20px
}

.u30 {
    position:absolute;
    left:540px;
    top:100px;
    width:80px;
    height:20px
}

.u32_original {
    background-image: url('../Stock_s_Weibo_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:620px;
    top:164px;
    width:260px;
    height:980px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:986px;
}

.u33 {
    position:absolute;
    left:2px;
    top:482px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:620px;
    top:164px;
    width:260px;
    height:980px
}

.u34 {
    position:absolute;
    left:140px;
    top:184px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_menu {
    background-image: url('../Stock_s_Weibo_files/u35_menu.png');
}

.u35_menu {
    position:absolute;
    left:137px;
    top:477px;
    width:450px;
    height:35px;
}

#u36 {
    position:absolute;
    left:3px;
    top:3px;
    width:440px;
    height:25px
}

.u36_table {
    background-image: url('../Stock_s_Weibo_files/u36_table.png');
}

.u36_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:444px;
    height:29px;
}

.u37_original {
    background-image: url('../Stock_s_Weibo_files/u21_original.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px
}

.u39_original {
    background-image: url('../Stock_s_Weibo_files/u21_original.png');
}

.u39_container {
    position:absolute;
    left:83px;
    top:0px;
    width:83px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:83px;
    top:0px;
    width:83px;
    height:20px
}

.u41_original {
    background-image: url('../Stock_s_Weibo_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:166px;
    top:0px;
    width:88px;
    height:20px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:84px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:166px;
    top:0px;
    width:88px;
    height:20px
}

.u43_original {
    background-image: url('../Stock_s_Weibo_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:254px;
    top:0px;
    width:81px;
    height:20px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:77px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:254px;
    top:0px;
    width:81px;
    height:20px
}

.u45_original {
    background-image: url('../Stock_s_Weibo_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:335px;
    top:0px;
    width:100px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:335px;
    top:0px;
    width:100px;
    height:20px
}

.u47_original {
    background-image: url('../Stock_s_Weibo_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:140px;
    top:520px;
    width:460px;
    height:540px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:546px;
}

.u48 {
    position:absolute;
    left:2px;
    top:262px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:140px;
    top:520px;
    width:460px;
    height:540px
}

.u49_original {
    background-image: url('../Stock_s_Weibo_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:380px;
    top:1080px;
    width:220px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:380px;
    top:1080px;
    width:220px;
    height:30px
}

.u51 {
    position:absolute;
    left:640px;
    top:216px;
    width:230px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:640px;
    top:246px;
    width:230px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_original {
    background-image: url('../Stock_s_Weibo_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:640px;
    top:324px;
    width:220px;
    height:170px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:176px;
}

.u54 {
    position:absolute;
    left:2px;
    top:77px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:640px;
    top:324px;
    width:220px;
    height:170px
}

.u55_original {
    background-image: url('../Stock_s_Weibo_files/u53_original.png');
}

.u55_container {
    position:absolute;
    left:640px;
    top:514px;
    width:220px;
    height:170px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:176px;
}

.u56 {
    position:absolute;
    left:2px;
    top:77px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:640px;
    top:514px;
    width:220px;
    height:170px
}

.u57_original {
    background-image: url('../Stock_s_Weibo_files/u53_original.png');
}

.u57_container {
    position:absolute;
    left:640px;
    top:704px;
    width:220px;
    height:170px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:176px;
}

.u58 {
    position:absolute;
    left:2px;
    top:77px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:640px;
    top:704px;
    width:220px;
    height:170px
}

.u59_original {
    background-image: url('../Stock_s_Weibo_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:140px;
    top:220px;
    width:460px;
    height:240px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:240px;
}

.u60 {
    position:absolute;
    left:2px;
    top:112px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:140px;
    top:220px;
    width:460px;
    height:240px
}

.u61 {
    position:absolute;
    left:640px;
    top:180px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_original {
    background-image: url('../Stock_s_Weibo_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:640px;
    top:280px;
    width:100px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:640px;
    top:280px;
    width:100px;
    height:25px
}

