body{
	background: #990000;
}


/* Navigation */
/*#nav {
	background: #b30000;
}
#nav li a{
	color: white;
}
#nav li.current a{
	background: #980000;
	padding-right: 15px;
	border-left: 1px solid #c3241f;
	border-right: 1px solid #c3241f;
}
#nav li.current a span{
	padding-left: 15px;
}
*/

.element_title .title{
	background: #b40000 url(./title-bg.gif) left top repeat-x;
}