<div id="pageName">
  <h1>《每经投资宝·股东大会实录》服务条款</h1>
</div>

<div class="tzbTOS">
  <h2>第一条 网上办理业务的前提</h2>
  <p>
    读者必须完全同意本协议条款及相关网上办理业务的服务条款，才可以办理本网站的资讯信息服务业务。本网站所提供的业务办理相关服务应按照服务条款和操作规则严格执行。 <br> 
    读者进入协议展示页面并点击“同意”按钮，或者在登录申请时勾选“已阅读并接受业务办理协议”一项，即表示读者已与本网站达成本协议，读者同意并自愿接受本协议的全部条款和条件。 
  </p>
  <h2>第二条 读者的帐号、密码和安全 </h2>
  <p>

    网站读者帐号和密码是读者重要的个人资料，读者务必注意帐号和密码的保密；读者应按照机密的原则设置和保管自设密码，避免使用姓名、生日、电话号码等与本人明显相关的信息作为密码，更不应将本人自设密码提供给法律规定必须提供之外的任何人；读者应采取合理措施，防止本人密码被窃取，由于密码泄露造成的后果由读者自行承担。 <br>
    凡使用网站帐号和密码办理的一切业务，均视为读者亲自办理的业务，由读者承担由此所导致的相关后果和责任，包括但不限于业务费用的支付等。 <br>
    本网站有相应的安全措施来保障读者的使用安全，但不排除因读者方因素所产生的安全隐患。 
  </p>
  <h2>第三条 双方的权利义务 </h2>
  <ul>
    <li>1.读者申请业务之前应先了解业务资费及详细使用情况，使用过程中如有疑问，可浏览本网站的相关产品信息 。 </li>
    <li>2.读者在业务办理时必须为非欠费状态，若读者有任何类型的欠费，本网站将不予受理读者的业务办理。 </li>
    <li>3.读者必须提供准确真实的资料，本网站将根据读者提供的资料进行抽样核对，如有不符，本网站有权不予受理读者的业务办理。 </li>
    <li>4.读者在使用每经移动资讯产品业务网上办理服务过程中，必须遵循以下原则： 
      <ul>
        <li>1)遵守中国有关的法律和法规； </li>
        <li>2)不得为任何非法目的而使用网络服务系统； </li>
        <li>3)遵守所有与网络服务有关的网络协议、规定和程序； </li>
        <li>4)不得利用每经资讯信息产品内容进行任何可能的违规违法操作； </li>
        <li>5)不得利用每经资讯信息产品内容进行商业或其它用途的传播； </li>
        <li>6)不得利用每经资讯信息产品内容进行任何不利于本网及报社的行为； </li>
        <li>7)如发现任何非法使用读者帐号或帐号出现安全漏洞的情况，应立即通告本网站。 </li>
        <li>8)如读者违反以上规定，本网站有权配合公安部门追查，依法追究读者的相关法律责任。 </li>
      </ul>
    </li>
    <li>5.如办理过程中涉及填写申请表格的，读者应按规定准确填写相关的申请表格，读者填写完毕后按提交键确认，即视为读者对所提交资料内容真实性、准确性、合法性的承诺。 </li>
    <li>6.本网站有权根据经依法核准或备案的资费标准，向读者收取相关费用。</li>
    <li>7.本网站上办理的所有业务需要支付第三方支付平台的相关办理手续费用，此费用与本网站无关。 </li>
  </ul>
  <h2>第四条 内容所有权 </h2>
  <p>
    本网站提供的每经资讯信息产品内容可能包括：文字、图片、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。 <br>
    读者只有在获得本网站的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。 
  </p>
  <h2>第五条 隐私保护 </h2>
  本网站保证不对外公开或向第三方提供读者资料，但下列情况除外： 
  <ul>
    <li>1.事先获得读者的明确授权； </li>
    <li>2.根据有关的法律法规要求； </li>
    <li>3.按照相关有权政府主管部门的要求； </li>
    <li>4.为维护社会公众的利益； </li>
    <li>5.为维护本网站的合法权益。 </li>
    <li>6.在不透露单个读者隐私资料的前提下，本网站有权对整个读者数据库进行分析并对数据分析的结果进行利用。 </li>
  </ul>
  <h2>第六条 免责声明 </h2>
  <ul>
    <li>1.若本网站已经明示其资讯产品提供方式发生变更并提醒读者应当注意事项，读者未按要求操作所产生的一切后果由读者自行承担。 </li>
    <li>2.不论何种情形本网站都不对任何由于使用或无法使用本网站提供的服务所造成间接的、附带的、特殊的或余波所及的损失、损害、债务或商务中断承担任何责任。 </li>
    <li>3.本网站承诺所提供每经资讯信息产品内容符合国家的相关要求，但若因运营商网络或其它问题产生信息未能及时到达造成影响，本网站不承担责任。 </li>
  </ul>
  <h2>第七条 服务变更、中断或终止 </h2>
  <div>
    <ul>
      <li>1.如因系统维护或升级的需要而需暂停资讯信息产品，本网站将事先进行通告。 </li>
      <li>2.若是国定节假日或特殊原因造成的股市休息，本网站也将暂停资讯信息产品，并不再另行通告。 </li>
      <li>3.如发生下列任何一种情形，本网站有权随时中断或终止向读者提供本协议项下的产品服务而无需通知读者： 
        <ul>
          <li>1)读者提供的个人资料不真实； </li>
          <li>2)读者违反本协议中规定的使用规则。 </li>
        </ul>
      </li>
    </ul>
  </div>
  <h2>第八条 违约赔偿 </h2>
  <p>读者同意保障和维护本网站及其他读者的利益，如因读者违反有关法律、法规或本协议项下的任何条款而给本网站或任何其他第三方造成损失，读者同意承担由此造成的损害赔偿责任。</p>
  <h2>第九条 法律适用及协议解释 </h2>
  <p>本协议的成立、生效、履行和解释，均适用中华人民共和国法律；在法律允许范围内，本协议由成都每日经济新闻报社有限公司负责解释。</p>
  <h2>第十条 争议的解决 </h2>
  <p>读者和本网站在履行本协议的过程中，如发生争议，应友好协商解决。协商不成的，任何一方均可向成都市有管辖权的法院提起诉讼。</p>
  <h2>第十一条 协议生效和效力 </h2>
  <p>本协议自读者点击“同意”按钮时生效。本协议的任何条款如因任何原因而被确认无效，都不影响本协议其他条款的效力。 <br> 
  读者必须完全同意本协议中所有服务条款，才可以办理本网站的移动资讯信息产品业务。如果您完全接受以上的所有条款，请按'同意'进行业务办理。</p>

  <p class="tr">
  成都每日经济新闻报社有限公司 <br>
  2013年2月
  </p>

</div>