<% @title = "关于我们" %>
<%= require_css "about.css" %>
<div class="pageName"><h1>关于我们</h1></div>
<div class="section">
	<h2>每日经济新闻</h2>
	<p>《每日经济新闻》创刊于2004年12月9日,是由国家新闻出版总署批准成立的一张全国公开发行的财经类日报，周六刊,目前出版周期暂为周二至周六出版，国内统一刊号为CN51-0127，全国邮发代号61-149。 2008年5月12日，《每日经济新闻》全新改版，坚持专业、权威、实用、好看的办报理念，新闻锐利、眼光独到，以公司新闻和理财信息为主，是一份对财经业界和投资者有很好参考价值的全国财经大报，被评为“中国最具影响力产业类媒体”。北京、上海、深圳、成都等地设立新闻中心和分印点，全国各地邮局均可订阅。一份服务“企业人”为主的财经类日报。</p>
	<p>《每日经济新闻》立志为企业经营管理人员和包括投资者、经济官员、经济专家等，提供丰富资讯、独到见解和真实价值，并通过打造全面经济信息服务平台，与本土企业、企业人共同成长。</p>
	<p>《每日经济新闻》工作日出版，初期发行量逾10万。立足上海，逐步实现长三角城市群，通过数据库销售方式实现全国重点城市精确发行。
	16版。分2叠印刷，提供公共经济新闻、金融投资新闻和工商服务情报。内容囊括国际、国内和上海经济动态、重大经济政策及事件解读、资本和要素市场行情、重点产业情报、工商管理案例普及教育和商业实战技巧分析等，并提供“京城飞鸿”、“过埠VIP”、“每日商学院”、“公司财务”“每日情报”等特色版面和栏目。</p>
	<p>《每日经济新闻》将在资金实力雄厚、媒体经验丰富的股东支持下，建立国内领先的专业媒体团队，并本着“成就更高”的精神朝着中国首选财经日报目标努力。</p>
</div>

