<% @title = "广告服务" %>
<%= require_css "about.css" %>
<div class="pageName"><h1>广告服务</h1></div>
<div class="section" style="width:800px;">

  <table class="adPriceTable">
    <caption>2012年《每日经济新闻》报广告刊例价</caption>
    <thead>
      <tr>
        <td colspan="3" style="border-right:none;">每周二至六出版</td>
        <td colspan="6" style="border-left:none; text-align:right;">价格单位：元（人民币），尺寸单位：厘米</td>
      </tr>
      <tr>
        <th rowspan="2">名称</th>
        <th rowspan="2">规格(高*宽)</th>
        <th>头版</th>
        <th colspan="2">A类版 (2版 3版)</th>
        <th colspan="2" style="width:200px;">B类版 (4版 5版 6版 7版 8版 9版)</th>
        <th colspan="2">其他版</th>
      </tr>
      <tr>
        <th>彩色</th>
        <th>彩色</th>
        <th>黑白</th>
        <th>彩色</th>
        <th>黑白</th>
        <th>彩色</th>
        <th>黑白</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>
    	说明：
          <ol>
            <li>《每日经济新闻》报社 2012年广告刊例调整的函 <a href="<%= Settings.host %>/files/nbd_2012_kanli.jpg"><点击下载></a>。</li>
            <li>本刊例自2012年1月1日起生效，若有调整另行通知。</li>
            <li>指定版面加收20%，异型广告价格等同于该版面小全版广告价格。</li>
            <li>以上广告价格不含设计费，若需本报设计，收取广告价格10%的设计费。</li>
            <li>广告先收费后刊登。广告安排后撤版，收取20%违约金。</li>
            <li>广告文件格式：TIF（无压缩，无图层），精度300dpi。</li>
            <li>本刊例解释权归《每日经济新闻》报社广告中心。</li>
          </ol>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>1/12横版</td>
        <td>8*15</td>
        <td>80,000</td>
        <td>30,000</td>
        <td>20,000</td>
        <td>25,000</td>
        <td>18,000</td>
        <td>20,000</td>
        <td>16,000</td>
      </tr>
      <tr>
        <td>1/8横版</td>
        <td>6*30.5</td>
        <td>110,000</td>
        <td>39,000</td>
        <td>27,000</td>
        <td>34,000</td>
        <td>25,000</td>
        <td>30,000</td>
        <td>23,000</td>
      </tr>
      <tr>
        <td>1/8竖版</td>
        <td>12*15</td>
        <td>120,000</td>
        <td>43,000</td>
        <td>30,000</td>
        <td>39,000</td>
        <td>27,000</td>
        <td>34,000</td>
        <td>25,000</td>
      </tr>
      <tr>
        <td>1/6横版</td>
        <td>8*30.5</td>
        <td>150,000</td>
        <td>55,000</td>
        <td>38,000</td>
        <td>48,000</td>
        <td>32,000</td>
        <td>39,000</td>
        <td>29,000</td>
      </tr>
      <tr>
        <td>1/6竖版</td>
        <td>16*15</td>
        <td>160,000</td>
        <td>60,000</td>
        <td>42,000</td>
        <td>52,000</td>
        <td>38,000</td>
        <td>43,000</td>
        <td>33,000</td>
      </tr>
      <tr>
        <td>1/4横版</td>
        <td>12*30.5</td>
        <td>220,000</td>
        <td>77,000</td>
        <td>53,000</td>
        <td>68,000</td>
        <td>48,000</td>
        <td>62,000</td>
        <td>45,000</td>
      </tr>
      <tr>
        <td>1/4竖版</td>
        <td>24*15</td>
        <td>240,000</td>
        <td>86,000</td>
        <td>58,000</td>
        <td>77,000</td>
        <td>53,000</td>
        <td>68,000</td>
        <td>47,000</td>
      </tr>
      <tr>
        <td>1/3横版</td>
        <td>16*30.5</td>
        <td>300,000</td>
        <td>100,000</td>
        <td>72,000</td>
        <td>94,000</td>
        <td>65,000</td>
        <td>84,000</td>
        <td>60,000</td>
      </tr>
      <tr>
        <td>1/3竖版</td>
        <td>48*10</td>
        <td>330,000</td>
        <td>110,000</td>
        <td>80,000</td>
        <td>100,000</td>
        <td>76,000</td>
        <td>95,000</td>
        <td>70,000</td>
      </tr>
      <tr>
        <td>1/2横版</td>
        <td>24*30.5</td>
        <td>450,000</td>
        <td>140,000</td>
        <td>109,000</td>
        <td>130,000</td>
        <td>99,000</td>
        <td>120,000</td>
        <td>89,000</td>
      </tr>
      <tr>
        <td>1/2竖版</td>
        <td>48*15</td>
        <td>490,000</td>
        <td>160,000</td>
        <td>135,000</td>
        <td>150,000</td>
        <td>125,000</td>
        <td>140,000</td>
        <td>115,000</td>
      </tr>
      <tr>
        <td>小全版</td>
        <td>30.5*24</td>
        <td>550,000</td>
        <td>160,000</td>
        <td>135,000</td>
        <td>150,000</td>
        <td>125,000</td>
        <td>140,000</td>
        <td>115,000</td>
      </tr>
      <tr>
        <td>整版</td>
        <td>48*30.5<br/>(头版 43*30.5)</td>
        <td>900,000</td>
        <td>310,000</td>
        <td>212,000</td>
        <td>270,000</td>
        <td>200,000</td>
        <td>245,000</td>
        <td>179,000</td>
      </tr>
      <tr>
        <td>跨1/3版</td>
        <td>16*65</td>
        <td></td>
        <td></td>
        <td></td>
        <td>200,000</td>
        <td>143,000</td>
        <td>180,000</td>
        <td>130,000</td>
      </tr>
      <tr>
        <td>跨半版</td>
        <td>24*65</td>
        <td></td>
        <td></td>
        <td></td>
        <td>280,000</td>
        <td>212,000</td>
        <td>256,000</td>
        <td>196,000</td>
      </tr>
      <tr>
        <td>跨整版</td>
        <td>48*65</td>
        <td></td>
        <td></td>
        <td></td>
        <td>500,000</td>
        <td>366,800</td>
        <td>450,000</td>
        <td>335,000</td>
      </tr>
      <tr>
        <td>头条报花或冠名报花</td>
        <td>3*4.7</td>
        <td>30,000</td>
        <td>10,000</td>
        <td>5,000</td>
        <td>10,000</td>
        <td>5,000</td>
        <td>10,000</td>
        <td>5,000</td>
      </tr>
      <tr>
        <td>普通报花</td>
        <td>3*4.7</td>
        <td>15,000</td>
        <td>5,000</td>
        <td>2,500</td>
        <td>5,000</td>
        <td>2,500</td>
        <td>5,000</td>
        <td>2,500</td>
      </tr>
      <tr>
        <td>置顶通栏</td>
        <td>3*30.5</td>
        <td>200,000</td>
        <td>75,000</td>
        <td>50,000</td>
        <td>60,000</td>
        <td>40,000</td>
        <td>50,000</td>
        <td>40,000</td>
      </tr>
      <tr>
        <td>1/4中间下沉竖版</td>
        <td>24*15</td>
        <td>280,000</td>
        <td>105,000</td>
        <td></td>
        <td>95,000</td>
        <td></td>
        <td>85,000</td>
        <td></td>
      </tr>
      <tr>
        <td>1/4中间悬浮竖版</td>
        <td>24*15</td>
        <td>338,000</td>
        <td>130,000</td>
        <td></td>
        <td>115,000</td>
        <td></td>
        <td>100,000</td>
        <td></td>
      </tr>
      <tr>
        <td>1/3中间悬浮横版</td>
        <td>16*30.5</td>
        <td>450,000</td>
        <td>150,000</td>
        <td></td>
        <td>140,000</td>
        <td></td>
        <td>126,000</td>
        <td></td>
      </tr>
      <tr>
        <td>1/3中间悬浮跨版</td>
        <td>16*65</td>
        <td></td>
        <td></td>
        <td></td>
        <td>220,000</td>
        <td></td>
        <td>190,000</td>
        <td></td>
      </tr>
      <tr>
        <td>1/2中间悬浮横版</td>
        <td>24*30.5</td>
        <td>670,000</td>
        <td>220,000</td>
        <td></td>
        <td>200,000</td>
        <td></td>
        <td>180,000</td>
        <td></td>
      </tr>
      <tr>
        <td>1/2中间悬浮跨版</td>
        <td>24*65</td>
        <td></td>
        <td></td>
        <td></td>
        <td>300,000</td>
        <td></td>
        <td>260,000</td>
        <td></td>
      </tr>
      <tr>
        <td>新闻纸外包报</td>
        <td>4个版</td>
        <td>1,000,000</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>铜板纸外包报</td>
        <td>2个版</td>
        <td>1,000,000</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>铜板纸外包报</td>
        <td>4个版</td>
        <td>1,600,000</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>文字</td>
        <td colspan="8">限800字以下，价格20元/字</td>
      </tr>
    <tbody>
  </table>

  
  
  <%if false%>
  <table class="adPriceTable" style="margin-bottom:4em;">
    <caption>
		每经网广告报价
    </caption>
    <thead>
      <tr>
        <th>编号</th>
        <th>位置</th>
        <th>规格</th>
        <th>刊例价格（元/天）</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>A-0</th><td>首页</td><td>990*200</td><td>-</td>
      </tr>
      <tr>
        <th>A-1</th><td>首页</td><td>700*70</td><td>-</td>
      </tr>
      <tr>
        <th>A-2-1</th><td>首页</td><td>670*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-2-2</th><td>首页</td><td>300*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-3-1</th><td>首页</td><td>670*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-3-2</th><td>首页</td><td>300*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-4-1</th><td>首页</td><td>670*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-4-2</th><td>首页</td><td>300*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-5-1</th><td>首页</td><td>670*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-5-2</th><td>首页</td><td>300*90</td><td>-</td>
      </tr>
      <tr>
        <th>A-6</th><td>首页</td><td>990*90</td><td>-</td>
      </tr>
      <tr>
        <th>B-1</th><td>文章页</td><td>700*70</td><td>-</td>
      </tr>
      <tr>
        <th>B-2</th><td>文章页</td><td>300*300</td><td>-</td>
      </tr>
      <tr>
        <th>B-3</th><td>文章页</td><td>300*300</td><td>-</td>
      </tr>
      <tr>
        <th>B-4</th><td>文章页</td><td>990*90</td><td>-</td>
      </tr>
      <tr>
        <th>B-5</th><td>文章页</td><td>300*200</td><td>-</td>
      </tr>
      <tr>
        <th>C-1</th><td>栏目页</td><td>700*70</td><td>-</td>
      </tr>
      <tr>
        <th>C-2</th><td>栏目页</td><td>300*600</td><td>-</td>
      </tr>
      <tr>
        <th>C-3</th><td>栏目页</td><td>300*300</td><td>-</td>
      </tr>
      <tr>
        <th>C-4</th><td>栏目页</td><td>990*90</td><td>-</td>
      </tr>
      <tr>
        <th>C-5</th><td>栏目页</td><td>650*70</td><td>-</td>
      </tr>
    </tbody>
  </table>
  <%end%>
</div>
