<% @title = "广告服务" %>
<%= require_css "about.css" %>
<div class="pageName"><h1>广告服务</h1></div>
<div class="section" style="width:800px;">

  <table class="adPriceTable">
    <tfoot>
      <tr>
        <td>
    	说明：
          <ol>
            <li>2013年《每日经济新闻》报社 广告刊例 <a href="<%= Settings.host %>/files/nbd_2013_kanli.jpg" target="_blank"><点击下载></a>。</li>
            <li>本刊例自2013年1月1日起生效，若有调整另行通知。</li>
            <li>指定版面加收20%，异型广告价格等同于该版面小全版广告价格。</li>
            <li>以上广告价格不含设计费，若需本报设计，收取广告价格10%的设计费。</li>
            <li>广告先收费后刊登。广告安排后撤版，收取20%违约金。</li>
            <li>广告文件格式：TIF（无压缩，无图层），精度300dpi。</li>
            <li>本刊例解释权归《每日经济新闻》报社广告中心。</li>
          </ol>
        </td>
      </tr>
    </tfoot>
    <tbody>
    	<tr><td style="padding:0;border:none;">
				<img src="/images/ads_newspaper_2013.jpg" />
    	</td></tr>
    	<tr><td style="padding:50px 0 30px;border:none;">
				<img src="/images/ads_website_2013.jpg" />
    	</td></tr>
    </tbody>
  </table>

</div>
