<% @title = "联系我们" %>
<%= require_css "about.css" %>
<div class="pageName"><h1>联系我们</h1></div>
<div class="section">
<p>读者服务热线：400 889 0008</p>
<p>网站合作电话: 86-21-60900099 转 688 分机 或 629 分机</p>
<p>北京：010-58528290<br/>
北京市西城区闹市口大街长安兴融中心南楼6A(100032)</p>
<p>上海：021-60900099<br/>
上海市徐汇区龙田路195号3号楼A座8层(200235)</p>
<p>深圳：0755-83520159<br/>
深圳市福田区红荔路2001号四川大厦1212-1214室(518028)</p>
<p>成都：028-86510930<br/>
成都市红星路二段159号成都报业大厦(610017)</p>
<p>广州：020-89660257<br/>
广州市海珠区艺苑路5号港艺商务大厦9楼903室(510310)</p>
</div>
