<% @title = "版权声明" %>
<%= require_css "about.css" %>

<div class="pageName"><h1>2012年《每日经济新闻》系列媒体平台版权声明</h1></div>
<div class="section">
<p>《每日经济新闻》系列媒体包括每日经济新闻报、每经网（www.nbd.com.cn）、每经智库、移动客户端（包括但不限于安卓、IOS、微软等系统）等平台。各平台享有的版权内容均仅限在每经网作为第一网络平台发布。未经每日经济新闻报社书面授权许可，任何其他网站都无权使用每经网发布的享有版权的内容。为了维护版权利益、保护财经资讯知识产权所有者的权益、制止网络非法转载，每经网授权发布以下声明：</p>

<p>1. 任何单位及个人，凡在互联网上传播《每日经济新闻》报、每经网及每经智库、每经移动客户端等相关内容的，必须事先获得每日经济新闻报社书面授权，方可使用。</p>

<p>2.任何单位或个人，在获得使用《每日经济新闻》系列媒体版权内容时，不得篡改内容，摘录时不得违背文章原意，在转载网页中必须署名来源自《每日经济新闻》、每经网或每经智库等平台，并加注每经网相应的内容链接。</p>

<p>3.任何单位及个人，未经每日经济新闻报社授权许可，擅改《每日经济新闻》系列媒体内容，或隐匿《每日经济新闻》系列媒体平台来源，或擅自在网络上传播《每日经济新闻》报、每经网、每经智库及每经移动客户端等相关内容的，均属于侵犯每日经济新闻报社版权的行为，每日经济新闻报社有权要求其立即删除。</p>

<p>4. 如侵权人在收到每日经济新闻报社版权通知后未立即删除的，每日经济新闻报社将在每经网首页公告栏中定期对侵权人进行公告警示。</p>

<p>5. 每日经济新闻报社同时将采取包括但不限于向国家行政管理部门举报、向人民法院提起诉讼等多种方式维权。</p>

<p>6. 凡已涉嫌侵权的网站请自行删除，或与每日经济新闻报社商谈版权合作。</p>

<p>7.此版权声明解释权归每日经济新闻报社所有，与此前发布的<a href="http://www.nbd.com.cn/articles/2005-01-01/632733.html">《2005年版权声明》</a>同步有效。</p>

<p>联系电话：021-60900099 转 688 <br/> Email：media@nbd.com.cn</p>

<p style="text-align:right;">每日经济新闻社<br/>2012年2月9日</p>

</div>