<% @title = "版权声明" %>
<%= require_css "about.css" %>

<div class="pageName"><h1>2005年版权声明</h1></div>
<div class="section">
<p>“每经网” 上呈现的所有内容，包括但不限于文字报导、图片、声音、录像、图表、标志、标识、广告、商标、商号、域名、软件、程序、版面设计、专栏目录与名称、内容分类标准，均受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》及适用之国际公约中有关著作权、商标权、专利权以及或其它财产所有权法律的保护，为 “每经网” 社等相关权利人专属所有或持有。</p>
<p>使用者将 “每经网” 提供的内容与服务用于非商业用途、非盈利、非广告目的而纯作个人使用时，应遵守著作权法以及其他相关法律的规定。</p>
<p>使用者将 “每经网” 提供的内容与服务用于商业、盈利、广告性目的时，须获得 “每经网” 社及或相关权利人的书面特别授权，并遵守授权使用协议的约定。</p>
<p>凡未经 “每经网” 社的书面授权，任何人不得转载、复制、重制、改动、展示或使用 “每经网” 的局部或全部的内容或服务，或在非 “每经网” 所属的服务器上作镜像，否则 “每经网” 社将依法追究相关行为主体的法律责任。</p>
<p style="text-align:right;">每日经济新闻社<br/>2005年1月1日</p>
</div>
