<% @title = "友情链接" %>
<%= require_css "about.css" %>
<div class="pageName">
  <h1>友情链接</h1>
</div>
<div class="section">
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				合作伙伴
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://finance.sina.com.cn/">新浪</a>
          </td>
          <td>
            <a target="_blank" href="http://business.sohu.com/">搜狐</a>
          </td>
          <td>
            <a target="_blank" href="http://money.163.com/">网易</a>
          </td>
          <td>
            <a target="_blank" href="http://cn.msn.com/">MSN中文网</a>
          </td>
          <td>
            <a target="_blank" href="http://finance.ifeng.com/">凤凰</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.hexun.com/">和讯</a>
          </td>
          <td>
            <a target="_blank" href="http://www.jrj.com/">金融界</a>
          </td>
          <td>
            <a target="_blank" href="http://finance.21cn.com/">21CN</a>
          </td>
          <td>
            <a target="_blank" href="http://www.p5w.net/">全景网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cnfol.com/">中金在线</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.byban.net/">百邮手机邮箱</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zgjrw.com/">中国金融网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.stockstar.com/">证券之星</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chinaero.com.cn/">能源观察网</a>
          </td>
          <td>
            <a target="_blank" href="http://finance.qq.com/">腾讯财经</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.joy.cn/">激动网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.eastmoney.com/">东方财富网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chineseworldnet.com/scripts/cn/stock/default.asp">环球财经网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.bnet.com.cn/">商业英才网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zhui.cn/">手机软件制作</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.caistv.com/">商界财视网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.sino-manager.com/">《经理人》杂志</a>
          </td>
          <td>
            <a target="_blank" href="http://www.guandian.cn/">观点地产网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cfi.net.cn/">中财网</a>
          </td>
          <td>
            <a target="_blank" href="http://china.cnbc.com/">CNBC中文网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.jiae.com/">家易网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.inengyuan.com/">能源经济网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.hongzhoukan.com/">证券市场红周刊</a>
          </td>
          <td>
            <a target="_blank" href="http://www.caihuanet.com/">财华网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.woaigu.com/">我爱股网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.ebusinessreview.cn/">商业评论网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.dongshihui.com.cn/">董事会</a>
          </td>
          <td>
            <a target="_blank" href="http://www.21mic.com/main/main.asp">世界大师中国行</a>
          </td>
          <td>
            <a target="_blank" href="http://www.iceo.com.cn/">中国企业家网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.sci99.com/">卓创资讯</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.chinanews.com.cn/finance/index.shtml">中国新闻网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.prnasia.com/">美通社</a>
          </td>
          <td>
            <a target="_blank" href="http://finance.huanqiu.com/">环球网财经</a>
          </td>
          <td>
            <a target="_blank" href="http://www.v1.cn/">第一视频</a>
          </td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				官方网站
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.mfa.gov.cn/">外交部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ndrc.gov.cn/">发改委</a>
          </td>
          <td>
            <a target="_blank" href="http://www.moe.gov.cn/">教育部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.most.gov.cn/">科技部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.miit.gov.cn/">工信部</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.mof.gov.cn/">财政部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.mofcom.gov.cn/">商务部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.moh.gov.cn/">卫生部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.moj.gov.cn/">司法部</a>
          </td>
          <td>
            <a target="_blank" href="http://www.mps.gov.cn/">公安部</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				门户网站
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.ce.cn/">中国经济网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cdqss.com/">成都全搜索</a>
          </td>
          <td>
            <a target="_blank" href="http://www.caixun.com/">财讯.com</a>
          </td>
          <td>
            <a target="_blank" href="http://sh.soufun.com/">搜房网</a>
          </td>
          <td>
            <a target="_blank" href="http://house.online.sh.cn/gb/node/house_default.htm">上海热线房产</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://shanghai.anjia.com/">安家网-二手房</a>
          </td>
          <td>
            <a target="_blank" href="http://shanghai.anjuke.com/">上海房产-安居客</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chengdu.cn/">成都全搜索</a>
          </td>
          <td>
            <a target="_blank" href="http://finance.baidu.com/">百度</a>
          </td>
          <td>
            <a target="_blank" href="http://www.xinhuanet.com/fortune/">新华网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://house.online.sh.cn/">上海热线</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chineseworldnet.com/scripts/cn/stock/default.asp">环球财经网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cctvcj.com/">CCTV证券资讯</a>
          </td>
          <td>
            <a target="_blank" href="http://cn.yahoo.com/">雅虎</a>
          </td>
          <td>
            <a target="_blank" href="http://www.google.com/">谷歌</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://sh.fangyou.com/">新浪二手房</a>
          </td>
          <td>
            <a target="_blank" href="http://www.icycn.com/">创业中国</a>
          </td>
          <td>
            <a target="_blank" href="http://www.jutounet.com/">聚投网</a>
          </td>
          <td></td><td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				行业网站
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.shjubao.cn">上海市互联网违法与违规举报中心</a>
          </td>
          <td>
            <a target="_blank" href="http://www.sisa.net.cn">上海市信息服务业行业协会</a>
          </td>
          <td>
            <a target="_blank" href="http://www.fjfdi.com/">福建国际投资促进网</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				特色网站
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.kwww.cn/">上海快网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.265.com/">265上网导航</a>
          </td>
          <td>
            <a target="_blank" href="http://abc.qq.com/">QQ网址大全</a>
          </td>
          <td>
            <a target="_blank" href="http://rent.myliving.cn/">租房-租售情报网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.gugooe.com/">股歌</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.tradevv.com/">tradevv</a>
          </td>
          <td>
            <a target="_blank" href="http://www.86che.com/">汽车时尚网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.028life.com/">成都圈子</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zhicheng.com/">至诚理财</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ql18.com.cn/">钱龙天地</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.forexstar.com.cn/">外汇之星</a>
          </td>
          <td>
            <a target="_blank" href="http://www.bnet.com.cn/">商业英才网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.steelcn.com/">中国钢材网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.538538.com/">老钱庄百宝箱</a>
          </td>
          <td>
            <a target="_blank" href="http://www.13pr.com/">公关网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.ocn.com.cn/">中国投资咨询网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.kblcw.com/">口碑理财网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.2345.com/">2345网址导航</a>
          </td>
          <td>
            <a target="_blank" href="http://www.114la.com/">114啦网址导航</a>
          </td>
          <td>
            <a target="_blank" href="http://www.gjyhw.com/">国际易货网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.gw.com.cn/">大智慧</a>
          </td>
          <td>
            <a target="_blank" href="http://www.stockbus.cn/">股票网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.qnrwz.com/">青年人网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ccfa.org.cn/">中国连锁经营协会</a>
          </td>
          <td>
            <a target="_blank" href="http://www.haishun.com/">海顺股票网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.cye.com.cn/">创业网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.txsec.com/">天相投顾网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.qjxgold.com/">仟家信</a>
          </td>
          <td>
            <a target="_blank" href="http://www.360che.com/ ">卡车之家</a>
          </td>
          <td>
            <a target="_blank" href="http://www.autocity.com.cn/">车城网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.fivip.com/">高端财经</a>
          </td>
          <td>
            <a target="_blank" href="http://data.house.sina.com.cn/">新浪新盘</a>
          </td>
          <td>
            <a target="_blank" href="http://www.gotoread.com/">浏览网</a>
          </td>
          <td>
            <a target="_blank" href="http://top.chinaz.com/">网站排名</a>
          </td>
          <td>
            <a target="_blank" href="http://beijing.anjia.com/">安家网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.ibtimes.com.cn/">国际财经时报</a>
          </td>
          <td>
            <a target="_blank" href="http://www.lux007.com/">奢侈品资讯网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.voguechinese.com/">风尚中国</a>
          </td>
          <td>
            <a target="_blank" href="http://www.86estate.com/">融讯地产网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.mccupl-edu.cn/ ">中国政法大学</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.eqihuo.com/">上海中期在线</a>
          </td>
          <td>
            <a target="_blank" href="http://www.fengsung.com/">风尚中国</a>
          </td>
          <td>
            <a target="_blank" href="http://www.51zjxm.com/">51资金项目网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.horise.com/">和瑞网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.17ok.com/">财界网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.chinalao.com/">中劳网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.yoohouse.com/">游家网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.soubaoad.com/">搜报网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chinapr.com.cn/">中国公关网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chinapr.com.cn/">中国公关网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.jinku.com/">金库网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ffang1996.com/">方方地产</a>
          </td>
          <td>
            <a target="_blank" href="http://www.green1and1.org/">绿色1+1公益基金</a>
          </td>
          <td>
            <a target="_blank" href="http://vip.cmbchina.com/">招商银行VIP尊享网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.hebangchina.com/">和邦咨询</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.soufun.com/news/">北京房地产新闻</a>
          </td>
          <td>
            <a target="_blank" href="http://www.99qh.com/">99期货</a>
          </td>
          <td>
            <a target="_blank" href="http://shbbs.soufun.com/">上海搜房业主论坛</a>
          </td>
          <td>
            <a target="_blank" href="http://www.rbs.org.cn/">中国人民大学商学院</a>
          </td>
          <td>
            <a target="_blank" href="http://shbbs.soufun.com/">上海业主论坛</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://finance.hsw.cn">华商网财经网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.glinfo.com/">大宗商品</a>
          </td>
          <td>
             <a target="_blank" href="http://www.myfantai.com/">我的钒钛</a>
          </td>
          <td>
            <a target="_blank" href="http://www.windin.com/">Windin万点</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zhiqianclub.com/">知钱俱乐部</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.ttgy.com/">上海股盈俱乐部</a>
          </td>
          <td>
            <a target="_blank" href="<%= Settings.old_host %>/zhuanti/jingjirili.html">全球经济日历</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chinaluxus.com/">中奢网</a>
          </td>
          <td>
            <a target="_blank" href="http://chem.chem365.net/">中宇资讯</a>
          </td>
          <td>
            <a target="_blank" href="http://www.qinbei.com/">亲贝网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.yanglee.com/">用益信托网</a>
          </td>
          <td>
            <a target="_blank" href="http://chengdu.zaobao.com/">联合早报网成都频道</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zgjrzk.com/">中国金融智库网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.pedaily.cn/">投资界</a>
          </td>
          <td>
            <a target="_blank" href="http://www.001ce.com/">第一商业地产</a>
          </td>
        </tr> 
          <td>
            <a target="_blank" href="http://www.huxiu.com/">虎嗅网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.highxue.com">嗨学网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cnreads.com/">先读网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.qutaiwan.cn/">台湾游</a>
          </td>
          <td>
            <a target="_blank" href="http://www.mycaijing.com.cn/">深蓝财经</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				媒体网站
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.chengdu.cn/">成都商报</a>
          </td>
          <td>
            <a target="_blank" href="http://www.pkubr.com/">北大商业评论</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ebusinessreview.cn/">商业评论网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ckgsb.edu.cn/">长江商学院</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zwgl.com.cn/">中外管理</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://capital.wswire.com/">资本家杂志</a>
          </td>
          <td>
            <a target="_blank" href="http://www.bbtnews.com.cn/">北京商报</a>
          </td>
          <td>
            <a target="_blank" href="http://www.xhby.net/">新华报业</a>
          </td>
          <td>
            <a target="_blank" href="http://www.news365.com.cn/">文新传媒</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cnrpaper.com/">中广财经手机报</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.cnfre.com/">中国金融地产网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zjol.com.cn/">浙江在线</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ccstock.cn/">证券日报</a>
          </td>
          <td>
            <a target="_blank" href="http://www.caing.com/">财新网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cs.com.cn/">中国证券报</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.stcn.com/">证券时报网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cbinews.com/">电脑商情在线</a>
          </td>
          <td>
            <a target="_blank" href="http://www.eceibs.com/">中欧商业评论</a>
          </td>
          <td>
            <a target="_blank" href="http://www.amoney.com.cn/">第一理财网</a>
          </td>
          <td>
            <a target="_blank" href="http://mag.amoney.com.cn/">理财周刊</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.yicai.com/">一财网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.xcf.cn/">新财富杂志</a>
          </td>
          <td>
            <a target="_blank" href="http://www.cnmi100.com">MMI现代机械工业网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.chinadaily.com.cn/hqcj/">中国日报网财经</a>
          </td>
          <td>
            <a target="_blank" href="http://media.sohu.com/ ">搜狐传媒</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				股票
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.591hx.com/">华讯财经</a>
          </td>
          <td>
            <a target="_blank" href="http://www.laoqianzhuang.com/">老钱庄</a>
          </td>
          <td>
            <a target="_blank" href="http://www.gugooe.com/">股歌</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				公司
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://house.online.sh.cn/gb/node/house_default.htm">上海热线房产</a>
          </td>
          <td>
            <a target="_blank" href="http://shanghai.anjia.com/">安家网-二手房</a>
          </td>
          <td>
            <a target="_blank" href="http://shanghai.anjuke.com/">上海房产-安居客</a>
          </td>
          <td>
            <a target="_blank" href="http://rent.myliving.cn/">租房-租售情报网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.001ce.com/">第一商业地产</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://shbbs.soufun.com/">上海搜房业主论坛</a>
          </td>
          <td></td><td></td><td></td><td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				金融
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.eqihuo.com/">上海中期在线</a>
          </td>
          <td>
            <a target="_blank" href="http://www.qjxgold.com/">仟家信</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ezcap.cn/">EZCapital</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				商学院
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.rbs.org.cn/">中国人民大学商学院</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ceibsonline.com/">中欧商业评论</a>
          </td>
          <td>
            <a target="_blank" href="http://www.mccupl-edu.cn/ ">中国政法大学</a>
          </td>
          <td>
            <a target="_blank" href="http://www.13pr.com/">公关网</a>
          </td>
          <td>
            <a target="_blank" href="http://www.ebusinessreview.cn/">商业评论网</a>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="http://www.ckgsb.edu.cn/">长江商学院</a>
          </td>
          <td>
            <a target="_blank" href="http://www.zwgl.com.cn/">中外管理</a>
          </td>
          <td></td><td></td><td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
        汽车
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://www.360che.com/ ">卡车之家</a>
          </td>
          <td>
            <a target="_blank" href="http://www.autocity.com.cn/">车城网</a>
          </td>
          <td>
            <a target="_blank" href="http://chezhan.bitauto.com/beijing/">北京车展</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 <div class="linksGroup">
    <table class="adPriceTable">
      <caption>
				西部
      </caption>
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="http://cq.sina.com.cn/">新浪重庆</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
