body{
	background: #eee;
}
.innerCenter{
	width: 980px;
}

#bshareWrapper { position:relative; }
#bshare { position:absolute; top:-31px; left:7px; z-index:1; _width:276px; _height:26px; }
#bshare a { color:#fff; }
#bshareBg { position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background:#000; opacity:0.3; _filter:Alpha(Opacity=35);  }
#bshareBody { padding:3px; padding-left:6px; }

/* feature table style */
.featureTableA { width:100%; font-size:12px; border-spacing:0; border-collapse:collapse; }
.featureTableA td { padding: 10px; border:1px solid #ddd; }


/* Top Bar */
#wrapper {
	width: 980px; 
	margin: 0 auto 60px;
	padding: 0;
}
#featureContent{
	background: white;
	margin: auto;
}

#top.columnTop{
	background: #fff;
	border-bottom: 1px solid #ddd;
}

/* Banner */
#banner{
	*zoom:1;
	margin: 0 0 15px;
	background: #f5f5f5 url(./feature_theme/banner-bottom.gif) left bottom repeat-x;
	padding-bottom: 2px;
}
#bannerImage{
	background-position:50% 0;
	background-repeat:no-repeat;
	margin-top:30px;
	overflow:hidden;
}

#intro{
	font-size: 14px;
	padding: 15px 15px 15px 75px;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	background: url(./feature_theme/intro.gif) 15px 50% no-repeat;
	text-indent: 2em;
	line-height: 1.8;
	color: #000;
}
/* Navigation */
#nav {
	height: 42px;
	line-height: 40px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin: 0 15px 20px;
	background: #eee url(./feature_theme/banner-bottom.gif) left bottom repeat-x;
	border: 1px solid #ccc;
	border-bottom: none;
}
#nav li {
	float:left; 
}

#nav li a{
	display: block;
	color: #484848;
	border-right: 1px solid #f9f9f9;
}
#nav li a:hover{
	color: #000;
	background: #f5f5f5;
	text-decoration: none;
}

#nav li a span{
	display: block;
	padding:0 15px;
	border-right: 1px solid #ccc;
}

#nav li.current a{
	color: #000;
}
#nav li.current, #nav li.current a:hover{
	background-color: #ddd;
}


/* Section and Element */
.section { padding: 0 15px 10px; }
.section .col { overflow:hidden; }
.section_1_a .col_1 { width:100%; }

.section_2_a .col_1 { float:left; width:300px; }
.section_2_a .col_2 { float:right; width:635px; }

.section_2_b .col_1 { float:left; width:635px; }
.section_2_b .col_2 { float:right; width:300px; }

.section_2_c .col_1 { float:left; width:470px; }
.section_2_c .col_2 { float:right; width:470px; }

.section_3_a .col_1 { float:left; width:310px; }
.section_3_a .col_2 { float:left; width:310px; margin-left:10px; }
.section_3_a .col_3 { float:right; width:310px; }

.element {
	margin-bottom:10px; 
	border:1px solid #ddd;
	overflow:hidden;
}
.element .title {
	padding:3px 10px; 
	background:#f5f5f5; 
	color:#333;
	font-weight: bold; 
	font-size:16px;
	font-family: Arial, sans-serif;
	border-bottom: 1px solid #eee;
}
.element .content {
	padding:10px;
}
/* Text Element content list */
.element_text .content ol{
	padding-left:20px;
	list-style-type: decimal;
}
.element_text .content ul{
	padding-left:20px;
	list-style-type: disc;
}
.element_text .content ol li, .element_text .content ul li{
	margin-bottom:3px;
}
.element_title{
	border: none;
}
.element_title .title{
	font-size: 16px;
	font-weight: bold;
	background: #303030;
	padding: 0 10px;
	line-height: 34px;
	height: 34px;
	border: none;
	color: white;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 3px;
}

/* Image Element */
.element_image{
	border: none;
}
.element_image .content{
	padding: 0;
}
/*.element_image .content img{
  max-width:100%;
}*/
.imageDesc{ font-size: 12px; }

.imageItem { width:100%; overflow:hidden; } 
.imagePos_up, .imagePos_down { text-align: center; }
.imagePos_up .imageDesc, .imagePos_down .imageDesc { padding:5px 0; }
.imagePos_left { text-align: left; }
.imagePos_right { text-align: right; }
.imagePos_table td { vertical-align: top; }
.imagePos_table .imageDesc { padding:0 5px; }

/* Image Cell Element */
.element_image_cell{
	border: none;
}
.element_image_cell .content{
	padding: 10px 0;
}
.element_image_cell ul li { float:left; }
.element_image_cell .imageDesc { padding:5px; }

/* Comment */
#commentsBlock{
	padding: 0 15px 10px;
}

#myComment {
	position:relative;
	margin:0 0 15px 0;
	padding:0 0 25px 0;
	border-bottom:1px dotted #DDD;
}

#myComment .avatar{
	float: left;
	border: 1px solid #CCC;
	padding: 1px;
	background-color: white;
}

#myComment .input_area{
	margin-left: 65px;
	font-size: 14px;
	color: #303030;
}

#myComment .input_area textarea {
	width:853px;
	*width:850px;
	height:66px;
	margin-bottom:7px;
}


/* Footer */
#footer {
	margin:0;
	background: #282828;
	border-top: 1px solid #000;
}
#footer a{
	color: #ddd;
}
#footer a:hover{
	color: white;
}
#footer .nav a{
	border-color: #606060;
}

.block .blockTitle{
	background-color: #eee;
	border-top: 2px solid #ccc;
	height: 36px;
	line-height: 36px;
}
.block .blockTitle .opts{
	color: #808080;
}

.sectionA .content{
	padding: 0;
}

.moreWeiboLink{
	float: right;
}
