/* ==========================================================================
   Global CSS 
   ========================================================================== */

/* From zhangxinyu.com
   ========================================================================== */

/* display */
.dn{display:none;}.db{display:block;}.dib{display:inline-block;}.di{display:inline;}
/* height and line-height */
.h14{height:14px;}.h16{height:16px;}.h18{height:18px;}.h20{height:20px;}.h22{height:22px;}.h24{height:24px;}
.lh14{line-height:14px;}.lh16{line-height:16px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}
 /* box (compare to oocss spacing) */
.m0{margin:0;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr20{margin-right:20px;}.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.ml-1{margin-left:-1px;}.mt-1{margin-top:-1px;}
.p1{padding:1px;}.pl1{padding-left:1px;}.pt1{padding-top:1px;}.pr1{padding-right:1px;}.pb1{padding-bottom:1px;}.p2{padding:2px;}.pl2{padding-left:2px;}.pt2{padding-top:2px;}.pr2{padding-right:2px;}.pb2{padding-bottom:2px;}.pl5{padding-left:5px;}.p5{padding:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}.p10{padding:10px;}.pl10{padding-left:10px;}.pt10{padding-top:10px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}.p20{padding:20px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}
/* font */
.g0{color:#000;}.g3{color:#333;}.g6{color:#666;}.g9{color:#999;}.wh{color:white;}
.f0{font-size:0;}.f10{font-size:10px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f16{font-size:16px;}.f20{font-size:20px;}.f24{font-size:24px;}
.fa{font-family:Arial;}.ft{font-family:Tahoma;}.fv{font-family:Verdana;}.fs{font-family:'宋体';}.fw{font-family:'微软雅黑';}
.n{font-weight:normal; font-style:normal;}.b{font-weight:bold;}.i{font-style:italic;}
/* paragraph */
.tc{text-align:center;}.tr{text-align:right;}.tl{text-align:left;}.tj{text-align:justify;}
.tdl{text-decoration:underline;}.tdn,.tdn:hover,a.tdl:hover{text-decoration:none;}
.lt0{letter-spacing:0;}lt1{letter-spacing:1px;}
.wrap{white-space:nowrap;}
.bk{word-wrap:break-word;}
.vm{vertical-align:middle;}.vtb{vertical-align:text-bottom;}.vb{vertical-align:bottom;}.vt{vertical-align:top;}.vn{vertical-align:-2px;}
/* float (replace with nbd) */
.l{float:left;}.r{float:right;}
.cl{clear:both;}
/* position */
.rel{position:relative;}.abs{position:absolute;}
.zx1{z-index:1;}.zx2{z-index:2;}
/* others */
.poi{cursor:pointer;}.def{cursor:default;}
.ovh{overflow:hidden;}
.vh{visibility:hidden;}.vv{visibility:visible;}
.z{*zoom:1;}

.auto{margin-left:auto; margin-right:auto;}
.fix{*zoom:1;}.fix:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* OOCSS
   ========================================================================== */

/*
 * spacing helpers (from oocss)
 * p,m = padding,margin
 * a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
 * s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
 */
.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:5px !important}
.ptm,.pvm,.pam{padding-top:10px !important}
.ptl,.pvl,.pal{padding-top:20px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:20px !important}
.pbn,.pvn,.pan{padding-bottom:0px !important}  
.pbs,.pvs,.pas{padding-bottom:5px !important}
.pbm,.pvm,.pam{padding-bottom:10px !important}
.pbl,.pvl,.pal{padding-bottom:20px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:20px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:5px !important}
.mtm,.mvm,.mam{margin-top:10px !important}
.mtl,.mvl,.mal{margin-top:20px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:20px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}  
.mbs,.mvs,.mas{margin-bottom:5px !important}
.mbm,.mvm,.mam{margin-bottom:10px !important}
.mbl,.mvl,.mal{margin-bottom:20px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:20px !important}

/* NBD
   ========================================================================== */

.lf { float:left; }
.rf { float:right; }
.clear { clear: both; }

/* ==========================================================================
   Website Base CSS
   ========================================================================== */

/* link */
a { color:#3060bf; text-decoration:none; }
a:hover { text-decoration:underline; }
a:active { color: #bb0000; }

/* color */
.red { color: #bb0000; }
.blue { color: #3060bf; }
.green { color: #090; }

/* width */
.w100 { width:100px; }
.w200 { width:200px; }

/* ==========================================================================
   Website Module CSS
   ========================================================================== */

.hr1 { 
	display:block;
	margin: 10px 0;
	border: none;
	border-bottom: 1px dotted #ccc;
	clear:both; 
}

.roundCorner{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.boxShadow{
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/* loading */
.loading { display:none; margin:10px 0; text-align:center; color:#808080; font-size:12px; line-height:14px; }
.loading img { margin:0 5px; }
.loading span { padding:0 23px 0 5px; background:url(../images/loading.gif) right 7px no-repeat;}

/* search */
.searchBox .searchInput { float:right; width:180px; height:26px; line-height:26px; padding:0 5px; border-top:1px solid #b4b4b4; border-left:1px solid #b4b4b4; border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; font-size: 14px; }
.searchBox .searchBtn { float:right; width:60px; height:28px; background:url(../images/sprite-icons.gif) 0px -160px no-repeat; }
.searchBoxSmall .searchInput { float:right; width:150px; height:17px; line-height:17px; padding:0 5px; border:1px solid #7c7c7c; border-right:none; }
.searchBoxSmall .searchBtn { float:right; width:39px; height:19px; background:url(../images/sprite-icons.gif) 0px -140px no-repeat; }

/* Form Style
   ========================================================================== */

.clearLabelStyle{
	float:none !important;
	display:inline !important;
	font-weight: normal !important;
	font-size: 14px !important;
}

.clearInputStyle{
	float:none !important;
	display:inline !important;
	background:none !important;
	padding:0 !important;
	font-size: 14px !important;
}

.textInput{
	border: 1px solid #868686;
	border-bottom-color: #bebebe;
	background: white url(../images/pixel-gray.gif) left top repeat-x;
	padding: 5px;
	font-size: 14px;
}

.hiddenSubmit { position:absolute; z-index:-999; }

.rightAlignActions { margin:0 !important; padding:10px 0 !important; text-align:right; }
.rightAlignActions a { margin-left:10px; }

/* Alert Style
   ========================================================================== */

.alert_done, .alert_info, .alert_error{
	*zoom:1;
	display:block;
    padding: 5px 10px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font: bold 12px Arial;
    color: #000;
    line-height:1.5;
}

.alert_done{
    border: 1px solid #91baf2;
    background-color: #F8FAFC;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
}

.alert_info{
    border: 1px solid #e5b800;
    background-color: #fff2bf;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
}

.alert_error{
    border: 1px solid #cd0a0a;
    background-color: #fef6f3;
    -moz-box-shadow: 0 1px 1px #bbb;
    -webkit-box-shadow: 0 1px 1px #bbb;
}

.alert_done b, .alert_info b, .alert_error b{
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/sprite-icons.gif) 0 0 no-repeat;
    margin-right: 5px;
}

.alert_done b{
    background-position: 0 1px;
}

.alert_info b{
    background-position: -32px 1px;
}

.alert_error b{
    background-position: -16px 1px;
}

/* Button
   ========================================================================== */

a.btnGray, a.btnGray span,
a.btnBlue, a.btnBlue span,
a.btnGrayBlue, a.btnGrayBlue span,
a.btnRed, a.btnRed span,
a.btnGreen, a.btnGreen span{
	cursor: pointer;
	display:inline-block;
	padding: 0 10px 0 0;
	height:22px;
	background:url(../images/sprite-btn.png);
	line-height:22px;
	white-space:nowrap;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	font-family: Arial, sans-serif;
}


/* Button Gray */

a.btnGray{
	color: #606060 !important;
	background-position: right -88px;
}

a.btnGray:hover{
	color: #303030;
	text-decoration: none;
	background-position: right -110px;
}

a.btnGray:active{
	color: #606060;
	background-position:  right -88px;
}

a.btnGray span{
	padding: 0 0 0 10px;
	background-position: -100px -132px;
}

a.btnGray:hover span{
	background-position: -100px -154px;
}

a.btnGray:active span{
	background-position: -100px -132px;
}

/* Button Gray Blue */

a.btnGrayBlue{
	color: #5299cc !important;
	background-position: right -176px;
}

a.btnGrayBlue:hover{
	color: #2988cc;
	text-decoration: none;
	background-position: right -176px;
}

a.btnGrayBlue:active{
	color: #5299cc;
	background-position: right -176px;
}

a.btnGrayBlue span{
	padding: 0 0 0 10px;
	background-position: -100px -220px;
}

a.btnGrayBlue:hover span{
	background-position: -100px -242px;
}

a.btnGrayBlue:active span{
	background-position: -100px -220px;
}

/* Button Blue */

a.btnBlue{
	color: #f5f5f5 !important;
	background-position: right -264px;
}

a.btnBlue:hover{
	color: #fff;
	text-decoration: none;
	background-position: right -286px;
}

a.btnBlue:active{
	color: #f5f5f5;
	background-position: right -264px;
}

a.btnBlue span{
	white-space:nowrap;
	padding: 0 0 0 10px;
	background-position: -100px -308px;
}

a.btnBlue:hover span{
	background-position: -100px -330px;
}

a.btnBlue:active span{
	background-position: -100px -308px;
}

/* Button Green */

a.btnGreen{
	color: #f9f9f9 !important;
	background-position: right -352px;
}

a.btnGreen:hover{
	color: #fff;
	text-decoration: none;
	background-position: right -374px;
}

a.btnGreen:active{
	color: #f9f9f9;
	background-position:  right -352px;
}

a.btnGreen span{
	padding: 0 0 0 10px;
	background-position: -100px -396px;
}

a.btnGreen:hover span{
	background-position: -100px -418px;
}

a.btnGreen:active span{
	background-position: -100px -396px;
}


/* Button Red */

a.btnRed{
	color: #f5f5f5 !important;
	background-position: right 0px;
}

a.btnRed:hover{
	color: #fff;
	text-decoration: none;
	background-position: right -22px;
}

a.btnRed:active{
	color: #f5f5f5;
	background-position: right 0px;
}

a.btnRed span{
	padding: 0 0 0 10px;
	background-position: -100px -44px;
}

a.btnRed:hover span{
	background-position: -100px -66px;
}

a.btnRed:active span{
	background-position: -100px -44px;
}

/* Medium */

a.btnBlueM, a.btnBlueM span,
a.btnGrayM, a.btnGrayM span{
	cursor:pointer;
	display: inline-block;
	padding: 0 10px 0 0;
	height:30px;
	background:url(../images/sprite-btn.png);
	line-height:30px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

/* Button Blue Medium */

a.btnBlueM{
	color: #f5f5f5 !important; 
	background-position: right -544px;
}

a.btnBlueM:hover{
	color: #fff;
	text-decoration: none;
	background-position: right -574px;
}

a.btnBlueM:active{
	color: #f5f5f5;
	background-position: right -544px;
}

a.btnBlueM span{
	padding: 0 0 0 10px;
	background-position: 0px -604px;
}

a.btnBlueM:hover span{
	background-position: 0px -634px;
}

a.btnBlueM:active span{
	background-position: 0px -604px;
}

/* Button Gray Medium */

a.btnGrayM{
	color: #f5f5f5 !important; 
	background-position: right -664px;
}

a.btnGrayM:hover{
	color: #fff;
	text-decoration: none;
	background-position: right -694px;
}

a.btnGrayM:active{
	color: #f5f5f5;
	background-position: right -664px;
}

a.btnGrayM span{
	padding: 0 0 0 10px;
	background-position: 0px -724px;
}

a.btnGrayM:hover span{
	background-position: 0px -754px;
}

a.btnGrayM:active span{
	background-position: 0px -724px;
}

/* button disabled */

a.btnDisabled{
	background-position: right -440px;
}
a.btnDisabled span{
	background-position: -100px -462px;
	color: #fff!important;
	cursor: default;
}
a.btnDisabled:hover{
	background-position: right -440px;
}
a.btnDisabled:hover span{
	background-position: -100px -462px;
}

/* button medium disabled */

a.btnBlueM.btnDisabled{
	background-position: right -484px;
}
a.btnBlueM.btnDisabled span{
	background-position: 0px -514px;
	color: #fff!important;
	cursor: default;
}

/* Article Labels
   ========================================================================== */

.articleLabel{
	display: inline-block;
	height: 18px;
	background: url(../images/label-right.gif) right -36px;
	padding-right: 5px;
	vertical-align: text-bottom;
}
.articleLabel b{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding-left: 5px;
	background: url(../images/label-left.gif) left -36px;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

.articleLabel.red{
	background-position: right -36px;
}
.articleLabel.red b{
	background-position: left -36px;
}

.articleLabel.green{
	background-position: right 0;
}
.articleLabel.green b{
	background-position: left 0;
}

.articleLabel.blue{
	background-position: right -18px;
}
.articleLabel.blue b{
	background-position: left -18px;
}

.articleLabel.orange{
	background-position: right -54px;
}
.articleLabel.orange b{
	background-position: left -54px;
}

.articleLabel.gray{
	background-position: right -72px;
}
.articleLabel.gray b{
	background-position: left -72px;
	color: #707070;
}

/* Pagination
   ========================================================================== */

.pagination{
	float: right;
	margin-bottom:2em;
	font-size: 12px;
	font-family: Arial, sans-serif;
}
.pagination a{
	border: 1px solid #CFD6E5;
	background-color: #eceff5;
	color: #606060;
	padding: 3px 7px;
	float: left;
	margin-left: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
}
.pagination a:hover{
	background: #0066cc;
	border-color: #0044cc;
	color: white;
	text-decoration: none;
}
.pagination b, .pagination .current{
	border: 1px solid #0044cc;
	background-color: #0066cc;
	color: white;
	padding: 3px 7px;
	float: left;
	margin-left: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	font-weight: bold;
}
.pagination .gap{
	float: left;
	margin-left: 8px;
}

/* List
   ========================================================================== */

.unorderList{
}

.unorderList li{
	background: url(../images/dot-medium.gif) 2px 50% no-repeat;
	*background-position-y:10px;
	padding-left: 15px;	
}

.orderList{
	list-style-type: decimal;
	color: #bb0000;
}

.orderList li{
	margin-left: 25px;
}

/* Slide Image
   ========================================================================== */

.slideImageWrapper { margin-bottom:10px; overflow:hidden; }
.slideImageWrapper .slideImageInner { position:relative; }
.slideImageWrapper .imageGroup { height:100%; }
.slideImageWrapper .imageGroup img { width:100%; height:100%; }
.slideImageWrapper .bottomInfo, .slideImageWrapper .bottomInfoBg { position:absolute; bottom:0px; left:0px; width:100%; height:30px; }
.slideImageWrapper .bottomInfo { line-height:30px; color:#fff; font-size: 12px; z-index:0;}
.slideImageWrapper .bottomInfoBg { background:#000; opacity:0.7; filter:alpha(opacity=80); z-index:-1; }
.slideImageWrapper .bottomInfo .imageInfo { float:left; margin-left:8px; width:70%; height:100%; }
.slideImageWrapper .bottomInfo .imageInfo a { color:#fff; word-break:keep-all; white-space:nowrap; }
.slideImageWrapper .bottomInfo .imageIndex { float:right; width:60px;margin-top: 4px; }
.slideImageWrapper .bottomInfo .imageIndex a { display:inline; float:left; width:7px; height:7px; margin:8px 5px; text-indent:-9999px; background:url(../images/slide-index.gif) 0 0 no-repeat; overflow:hidden; }
.slideImageWrapper .bottomInfo .imageIndex a.current { background-position:0 -7px; }
/* specific for class slideImageWrapper */
#imageNewsInner { height:176px; }

/* Article List
   ========================================================================== */

.articleList li { height:24px; line-height:25px; overflow:hidden; *zoom:1; }
.articleList li .articleOpt { float:right; color:#999; background:#fff; font-size: 12px; font-family: Arial, sans-serif;}
.articleList li.divider{ padding-bottom:5px; margin-bottom:5px; border-bottom: 1px dotted #ddd; }
.articleList li a { color: #202020; }

.articleList li.articleRecommend { padding:0 0 10px 0; background:none; height:auto;}
.focusArticle .articleList li.articleRecommend { padding-bottom: 8px; }
.articleList li.articleRecommend.last { padding-bottom:0; }
.articleRecommend .rcTitle {height:25px; line-height:25px; font-size:14px; overflow:hidden; word-break:break-all; }
.articleRecommend .rcTitle a { color:#303030; }
.articleRecommend .rcTitle .rcOpt { float:right; margin-top:5px; font-weight: normal; padding:3px 5px 2px; border:1px solid #ddd; background-color:#f1f1f1; font-size:12px; color:#606060; font-family: Arial, sans-serif; line-height:12px;}
.articleRecommend .rcDigest img { float:left; margin:0 10px 0 1px; }
.articleRecommend .rcDigest p {font-size: 13px; line-height:20px; color:#808080;}
.articleRecommend .rcDigest p.restrict { height:60px; overflow:hidden; }
.articleRecommend .rcDigest p.restrict2 { height:40px; overflow:hidden; }
.articleRecommend .rcBottom { height:25px; font-size:12px; font-family: Arial, sans-serif; }
.articleRecommend .keyword a { margin-right:5px; }

.childrenArticles{
	font-size: 13px;
	*width:100%;
	*overflow:hidden;
}
.childrenArticles li{
	float:left;
	margin-right:8px;
	height: 20px;
	line-height: 20px;
	white-space:nowrap;
}
.childrenArticles li a{
	color: #3060bf;
}

.horizonLayout{
	margin-right:20px;
}
.horizonLayout .articleRecommend { float:left; width:50%; margin:0; }
.horizonLayout .articleRecommend .rcDigest{
	padding-right: 15px;
}

/* Table
   ========================================================================== */

.tableNormal{
	width: 100%;
	text-align: left;
	margin-bottom: 2em;
	color: #303030;
	font-size: 13px;
}
.tableNormal caption{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: left;
	line-height: 30px;
	color: #bb0000;
}
.tableNormal th, .tableNormal td{
	border: 1px solid #ddd;
	padding: 7px 12px;
}
.tableNormal th{
	background-color: #f2f5fa;
}

/* td common width */
.tdw20p { width:20%; }
.tdw30p { width:30%; }
