<div class="sidebarNews sectionB">
	<div class="title">
		<h4>最新资讯</h4>
		<span class="opts"><a href="#">更多</a> </span>	
	</div>
	<div class="content">
		<ul class="weiboItemList">
			<li>
				<a href="#" class="avatar"><img src="/images/avatar-default.gif" alt="" /></a>
				<div class="itemContent">
					<p><a href="">每经新闻</a>:俄罗斯已向中国提供9架卡-31型无人直升机。这些卡-31很可能装备瓦良格号航母。卡-31预警直升机主要用于为舰队提供防空预警，兼具通讯中继制导功能。</p>
					<div class="itemBottom">
						<a href="">30秒前</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="avatar"><img src="/images/avatar-default.gif" alt="" /></a>
				<div class="itemContent">
					<p><a href="">每经证券</a>:一切都会随时间和空间的改变而改变</p>
					<div class="itemBottom">
						<a href="">1分钟前</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>