<%= require_fixedPosition %>
<div id="notify" class="roundCorner">
</div>
<a href="javascript:void(0)" id="weiboNotifyWrapper" class="alert_info" style="display:none;">
	<b></b>
	<span id="weiboNotify"></span>
</a>
