<div class="userStock sectionB">
	<div class="title">
		<h4>自选股</h4>
		<span class="opts"><a href="javascript:void(0)" class="btnGrayBlue"><span>+添加自选股</span></a> </span>
	</div>
	
	<div class="content">
		<table>
			<tr>
				<th>持仓</th>
				<th>股票名称</th>
				<th>最新价</th>
				<th>涨跌幅</th>
			</tr>
			<tr>
				<td><img src="/images/star.gif" /></td>
				<td>比亚迪加</td>
				<td>33.05</td>
				<td>7.31</td>
				<td>移除</td>
			</tr>
			<tr>
				<td><img src="/images/star.gif" /></td>
				<td>比亚迪加</td>
				<td>33.05</td>
				<td>7.31</td>
				<td>移除</td>
			</tr>
			<tr>
				<td><img src="/images/star.gif" /></td>
				<td>比亚迪加</td>
				<td>33.05</td>
				<td>7.31</td>
				<td>移除</td>
			</tr>
			<tr>
				<td><img src="/images/star.gif" /></td>
				<td>比亚迪加</td>
				<td>33.05</td>
				<td>7.31</td>
				<td>移除</td>
			</tr>
		</table>
	</div>
</div>