<div class="leftCol">
	<div class="formA roundCorner">
		<div class="title">
			<h3>激活邮件已过期</h3>
		</div>
		<p><%= link_to "<span>重新发送激活邮件</span>".html_safe, resend_activate_path, :method => "post", :class => "btnBlueM" %></p>
		<p>
			<span>温馨提示：</span>
			如果5分钟后仍未收到邮件，请确认邮件是否被你提供的邮箱系统自动拦截，或被误认为垃圾邮件放到垃圾箱了。您也可以直接<a href="#">联系我们</a>。
		</p>
	</div>
</div>

<div class="rightCol">
</div>

<div class="clear"></div>