<%@title="现在就加入每经网" %>

<div class="leftCol">
	<div class="formA roundCorner">
		<div class="title">
			<h1>最后一步，即可完成登录设置</h1>
		</div>
		<p>
			3秒完成快速注册一个每经网帐号与该第三方网站帐号绑定
		</p>
		<%= render :partial => "users/form_for_authentication" %>
		<div class="clear"></div>
	</div>
</div>
<div class="rightCol">
	<%= render :partial => "sessions/form_for_authentication" %>
</div>
<div class="clear">
</div>
