<div class="operation">
	<%= paginate comments %>
	<div class='lOpt'>
		<span>批量操作:</span>
        <a href="#" class="btnGray banComments"><span>屏蔽</span></a>
		<a href="#" class="btnGray delComments"><span>删除</span></a>
	</div>
</div>
