<%
=begin
section_class: String
sub_column_id: Number
=end
sub_domain = nil unless sub_domain

if sub_domain
  if ['ntt','club','west','t'].include? sub_domain
    url = customize_host_url(sub_domain+'1')
  else
    url = customize_host_url(sub_domain)
  end
else
  url = column_path(sub_column_id)
end

sub_columns = Column::DIS_SUB_NAVS[sub_column_id]
%>

<div class="hedSec">
  <%= link_to "<h2 class=\"hedSec_title hedSec_title-#{section_class}\">#{section_class}</h2>".html_safe, url %>
  <div class="hedSec_links">
    <% Column.find(sub_columns).sort_by{|e| sub_columns.index(e.id)}.each_with_index do |child_column, index| %>
      <% if ['ntt', 'west'].include?(sub_domain) %>
        <%= link_to child_column.name, send("#{sub_domain}_column_url",child_column) %>   
      <% else %>
        <%= link_to child_column.name, column_path(child_column) %>   
      <% end %>
    <%end%>
    <%= link_to "更多 &raquo;".html_safe, url %>
  </div>
</div>