<div class="sectionA" id="marketTable">
	<div class="title"><h3>全球市场</h3></div>
	<div class="content">
		<!-- chart -->
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="290" height="210">
			  <param name="movie" value="/media/market.swf?flashdzh_theme=White&amp;font=0&amp;flashdzh_aveLine=0&amp;stk_list=上证,1,000001,1,0;深市,2,399001,1,0;恒指,3,HSI,1,0&amp;resource_root=http://flashhq.gw.com.cn/">
			  <param name="quality" value="high">
			  <param name="wmode" value="Transparent">
			  <embed wmode="Transparent" src="/media/market.swf?flashdzh_theme=White&amp;font=0&amp;flashdzh_aveLine=0&amp;stk_list=上证,1,000001,1,0;深市,2,399001,1,0;恒指,3,HSI,1,0&amp;resource_root=http://flashhq.gw.com.cn/" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="290" height="210">
			  </embed>
		</object>
		<!-- matrix -->
		<iframe src="http://stock.sohu.com/frag/stock_inc/nbdItIndex.html" width="290" height="320" frameborder="0" scrolling="no"></iframe>
	</div>
</div>