<%
=begin
Parameters:
	digest_restrict: true | false (optional)
=end
digest_restrict = true unless digest_restrict
%>
<div class="sectionA">
	<div class="title" style="border:none; background:none;">
		<h3>每经一周评</h3>
		<!--<span class="opts"><%= link_to "更多", "javascript:void(0)"%></span>-->
	</div>
	<div class="content">
		<div id="nttOneWord" class="roundCorner">
			<div class="articleRecommend">
              <% if article %>
				<h5 class='rcTitle'>
					<%= link_to article.title, article_url(article), :target => "_blank" %>
				</h5>
				<div class="rcDigest">
					<%= link_to image_tag(article_thumbnail_path(article, :small), {:alt => article.list_title, :width => 80, :height => 60, :alt => article.title }),  article_url(article), :target => "_blank"  if article.image.present? %>
					<p <%if digest_restrict%>class="restrict"<%end%>><%= article.show_digest %></p>
				</div>
              <% end %>
				<div class="clear"></div>
			</div>
			<div class="triangle"></div>
		</div>
	</div>
</div>
