body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Insert_Image_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:80px;
    width:300px;
    height:190px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:196px;
}

.u1 {
    position:absolute;
    left:2px;
    top:87px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:80px;
    width:300px;
    height:190px
}

.u2_line {
    background-image: url('../Insert_Image_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:70px;
    top:214px;
    width:260px;
    height:3px;
}

.u2 {
    position:absolute;
    left:70px;
    top:214px;
    width:260px;
    height:3px
}

.u3 {
    position:absolute;
    left:273px;
    top:230px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:200px;
    top:230px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:120px;
    top:54px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_original {
    background-image: url('../Insert_Image_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:370px;
    top:80px;
    width:410px;
    height:300px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:416px;
    height:306px;
}

.u7 {
    position:absolute;
    left:2px;
    top:142px;
    width:406px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:370px;
    top:80px;
    width:410px;
    height:300px
}

.u8_original {
    background-image: url('../Insert_Image_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:390px;
    top:140px;
    width:110px;
    height:90px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:90px;
}

.u9 {
    position:absolute;
    left:2px;
    top:37px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:390px;
    top:140px;
    width:110px;
    height:90px
}

.u10_line {
    background-image: url('../Insert_Image_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:390px;
    top:330px;
    width:380px;
    height:3px;
}

.u10 {
    position:absolute;
    left:390px;
    top:330px;
    width:380px;
    height:3px
}

.u11 {
    position:absolute;
    left:708px;
    top:345px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:635px;
    top:345px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:500px;
    top:54px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../Insert_Image_files/u8_original.png');
}

.u14_container {
    position:absolute;
    left:520px;
    top:140px;
    width:110px;
    height:90px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:90px;
}

.u15 {
    position:absolute;
    left:2px;
    top:37px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:520px;
    top:140px;
    width:110px;
    height:90px
}

.u16_original {
    background-image: url('../Insert_Image_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:60px;
    top:93px;
    width:280px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:86px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:60px;
    top:93px;
    width:280px;
    height:80px
}

.u18_original {
    background-image: url('../Insert_Image_files/u8_original.png');
}

.u18_container {
    position:absolute;
    left:650px;
    top:140px;
    width:110px;
    height:90px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:90px;
}

.u19 {
    position:absolute;
    left:2px;
    top:37px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:650px;
    top:140px;
    width:110px;
    height:90px
}

.u20 {
    position:absolute;
    left:70px;
    top:102px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_end {
    background-image: url('../Insert_Image_files/u21_end.png');
}

.u21_end {
    position:absolute;
    left:295px;
    top:321px;
    width:20px;
    height:10px;
}

.u21_line {
    background-image: url('../Insert_Image_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:304px;
    top:260px;
    width:3px;
    height:70px;
}

.u21 {
    position:absolute;
    left:304px;
    top:260px;
    width:3px;
    height:70px
}

.u22 {
    position:absolute;
    left:390px;
    top:95px;
    width:310px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:710px;
    top:95px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:390px;
    top:260px;
    width:370px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_original {
    background-image: url('../Insert_Image_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:800px;
    top:80px;
    width:300px;
    height:220px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:226px;
}

.u26 {
    position:absolute;
    left:2px;
    top:102px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:800px;
    top:80px;
    width:300px;
    height:220px
}

.u27_line {
    background-image: url('../Insert_Image_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:820px;
    top:244px;
    width:260px;
    height:3px;
}

.u27 {
    position:absolute;
    left:820px;
    top:244px;
    width:260px;
    height:3px
}

.u28 {
    position:absolute;
    left:1023px;
    top:260px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:950px;
    top:260px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:870px;
    top:54px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:820px;
    top:125px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:820px;
    top:104px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:820px;
    top:191px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:820px;
    top:170px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:70px;
    top:137px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36_end {
    background-image: url('../Insert_Image_files/u36_end.png');
}

.u36_end {
    position:absolute;
    left:728px;
    top:426px;
    width:20px;
    height:10px;
}

.u36_line {
    background-image: url('../Insert_Image_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:737px;
    top:375px;
    width:3px;
    height:60px;
}

.u36 {
    position:absolute;
    left:737px;
    top:375px;
    width:3px;
    height:60px
}

.u37_original {
    background-image: url('../Insert_Image_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:500px;
    top:500px;
    width:404px;
    height:242px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:410px;
    height:248px;
}

.u38 {
    position:absolute;
    left:2px;
    top:113px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:500px;
    top:500px;
    width:404px;
    height:242px
}

.u39 {
    position:absolute;
    left:515px;
    top:512px;
    width:383px;
    height:198px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:264px;
    top:340px;
    width:90px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:1010px;
    top:350px;
    width:90px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_end {
    background-image: url('../Insert_Image_files/u42_end.png');
}

.u42_end {
    position:absolute;
    left:1045px;
    top:333px;
    width:20px;
    height:10px;
}

.u42_line {
    background-image: url('../Insert_Image_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:1054px;
    top:282px;
    width:3px;
    height:60px;
}

.u42 {
    position:absolute;
    left:1054px;
    top:282px;
    width:3px;
    height:60px
}

.u43 {
    position:absolute;
    left:696px;
    top:442px;
    width:90px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:68px;
    top:181px;
    width:90px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

