* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u4_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u4_original.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u8_original.png");
}

* html .u10c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u10c0.png");
}

* html .u12c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u12c0.png");
}

* html .u14c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u14c0.png");
}

* html .u16c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u16c0.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u8_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u4_original.png");
}

* html .u22c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u22c0.png");
}

* html .u24c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u24c0.png");
}

* html .u24c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u24c1.png");
}

* html .u24c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u24c2.png");
}

* html .u24c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u24c3.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u8_original.png");
}

* html .u28c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u28c0.png");
}

* html .u30c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u30c0.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u8_original.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u0_original.png");
}

* html .u36c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u36c0.png");
}

* html .u38c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u38c0.png");
}

* html .u38c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u38c1.png");
}

* html .u38c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u38c2.png");
}

* html .u38c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u38c3.png");
}

* html .u40c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u40c0.png");
}

* html .u40c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u40c1.png");
}

* html .u40c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u40c2.png");
}

* html .u42c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u42c0.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u8_original.png");
}

* html .u46c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u46c0.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u48_original.png");
}

* html .u51_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Comment_Flow_files/u51_original.png");
}

