<div class="sectionA">
  <div class="title">
    <h1>所有公告</h1>
  </div>
  <div class="content rightColCenter">
    <%=render :partial => "notices", :locals=>{ :notices => @notices, :view_only => true} %>
  </div>
</div>

