<div class="sectionA">
	<div class="title">
		<h1>用户 - 添加新专栏作家/每经记者</h1>
		<span class="opts"><a href="#" style="width:80px;" class="btnBlue"><span>取消</span></a></span>
	</div>
	<div class="content">
		<form action="get" class="formA">
			<p>
				<label>名字:</label>
				<input type="text" />
			</p>
			<p>
				<label>密码:</label>
				<input type="text" />
			</p>
			<p>
				<label>用户类型:</label>
				<select>
					<option value="1" selected="selected">开启</option>
					<option value="2">关闭</option>
					<option value="2">滚动新闻</option>
				</select>
			</p>
			<p>
				<label>权限:</label>
				<select>
					<option value="1" selected="selected">开启</option>
					<option value="2">关闭</option>
					<option value="2">滚动新闻</option>
				</select>
			</p>
			<p class="feedback">
				<a href="#" style="width:80px;" class="btnBlueM"><span>创建用户</span></a>
			</p>
		</form>
	</div>
</div>