<div class="sectionA">
	<div class="title">
		<h1>用户 - 注册用户</h1>
	</div>
	<div class="content">
		<div class="operation">
			<div class='lOpt'>
				<span>批量操作：</span>
				<a href="#" style="width:60px;" class="btnGrayBlue"><span>激活</span></a>
				<a href="#" style="width:60px;" class="btnGrayBlue"><span>冻结</span></a>
				<a href="#" style="width:60px;" class="btnGrayBlue"><span>删除</span></a>
			</div>
			<div class="pagination">
				<b>1</b>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<span>...</span>
				<a href="">50</a>
				<a href="">下一页</a>
			</div>
		</div>
		<table class="tableA">
			<tr>
				<th><input type="checkbox" /></th>
				<th>ID</th>
				<th>昵称</th>
				<th>邮箱</th>
				<th>用户类型</th>
				<th>状态</th>
				<th>注册时间</th>
				<th>最近登录时间</th>
				<th>操作</th>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>1</td>
				<td>看看新闻</td>
				<td>kankan@163.com</td>
				<td>注册用户</td>
				<td>常规</td>
				<td>2011.8.12</td>
				<td>2011.8.23</td>
				<td><a href="javascript:void(0)">冻结</a><br/><a href="javascript:void(0)">删除</a></td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>1</td>
				<td>看看新闻</td>
				<td>kankan@163.com</td>
				<td>注册用户</td>
				<td>常规</td>
				<td>2011.8.12</td>
				<td>2011.8.23</td>
				<td><a href="javascript:void(0)">冻结</a><br/><a href="javascript:void(0)">删除</a></td>
			</tr>
		</table>
	</div>
</div>