<div class="leftCol">
	<div class="sectionA">
		<div class="title">
			<h3>智库专家</h3>
			<span class="opts"><%= link_to "更多", "javascript:void(0)"%></span>
		</div>
		<div class="content">
			<table class="tankArticlesBox">
				<tr>
					<td>
						<a href="#" class="thinkTitle">李德林：还有多少保 障房正在沦为“政绩 秀”</a>
						<a class="expertAvatar"></a>
					</td>
					<td>
						2
					</td>
					<td>
						3
					</td>
					<td>
						4
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
				</tr>
			</table>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="rightCol">
	<div class="sectionA">
		<div class="title">
			<h3>每经一周评</h3>
			<span class="opts"><%= link_to "更多", "javascript:void(0)"%></span>
		</div>
		<div class="content">
			<div id="nttOneWord" class="roundCorner">
				<div class="articleRecommend">
					<h5 class='rcTitle'>【每周一字禅】哇</h5>
					<div class="rcDigest">
						<img alt="占位图片" />
						<p>靠。</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="triangle"></div>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
