<div id="wishIntroWrapper">
	<div id="wishIntro">
		<div id="introContent">
			<p>“十年股市涨幅零，两泪茫茫哥输清。”</p>
			<p>在今年的早春，那个小小的牛市，还一度让上海小散户王小虎发了一笔小财，他辞去了工作，专职开始了自己的职业炒股生涯。他以为自己能够在早春开始的牛市中赚得盆满钵满。在广州的李兰，也拿出自己做服装生意攒下的50万元，杀入了早春的股市。然而，初夏开始，股市却没有像天气一样转入火热之中，而是进入了一个长达半年的下挫阶段。到11月的时候，王小虎竟然从年初的赚得30万，变成了12月份的亏损20万。李兰也在亏掉了20多万元后，逃离股市。</p>
			<p>这是何等的悲凉，正如这个冬天的寒意。但王小虎感到的是比别人更冷，因为在他入市十年来，股市的风风雨雨，让他总是充满了期望，又充满了诸多的伤痛。</p>
			<p>上证指数十年来，彻底跌破了2001年6月24日的2245点的指数水准。有多少股民在十年前的期待中圆梦，有多少股民从圆梦开始到破梦结束，又有多少股民为了改善家庭生活质量而投入到风险跌宕的股市中，有多少股民尝到了股市的腥风血雨。十年之前，作为散户，有的是国企下岗职工，有的是小小的个体户，有的是工薪阶层，他们为了致富的梦想，纷纷加入股市。但是，十年之后，他们有的忍痛割肉逃离股市，有的被深深套牢无法抽身。</p>
			<p>有多少股民泪满面，有多少散户咽不下饭。正如每日经济新闻报社常务副总编辑李伟所言：“股市十年成圆点，犹如股民一滴泪”。</p>
			<p>您作为散户，有多少眼泪需要哭诉，有多少心酸没有倾诉，即日起，请来到每日经济新闻“散户心愿墙”，道出您的十年股市心声，说出您的未来心愿。我们将一起缅怀过去的十年，龙年一起共风雨。</p>
		</div>
	</div>
</div>

<div id="wishWallWrapper">
	<div id="myWishBox">
		<%= link_to(image_tag('avatar-default.gif'), "", :class=>"avatar") %>
		<div class="inputArea">
		<form>
			<div class="speakSuccessTip">发送成功！</div>
			<textarea class="textInput"></textarea>
			<p class="bottomActions">
				<%= link_to "<span>许个心愿</span>".html_safe, "javascript:void(0)", :class => "speakBtn btnBlueM" %>
			</p>
		</form>
		</div>
		<div class="clear"></div>
	</div>
	<div id="wishWallContainer">
		<div id="wishwall">
			<div class="wallCol">
				<div class="wishItem">
					<div class="wishContent">
						<p>
						#2012年股市#看着股民良好的
						心愿，更是感叹善良可爱的国人
						！他们被制度剥削、他们被腐败
						蚕食、他们被虚假愚弄、他们被
						希望托起，多么希望，好心人能
						感知、能感动、能敢为，为善良
						的股民做一点事，做一点优点良
						心的事！
						</p>
						<div class="wishUserInfo">
							<a class="avatar" href="#"><img src="" alt="avatar" width="30" height="30" /></a>
							<div class="wishDesc">
								<a href="#" class="name">vgche</a><br/>
								<span>1月2日11:35 许愿</span>
							</div>
						</div>
					</div>
					<div class="itemShadow"></div>
				</div>
			</div>
			<div class="wallCol"></div>
			<div class="wallCol"></div>
			<div class="wallCol"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>