body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Edit_Article_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:-144px;
    width:1020px;
    height:1224px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:1230px;
}

.u1 {
    position:absolute;
    left:2px;
    top:604px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:20px;
    top:-144px;
    width:1020px;
    height:1224px
}

.u2_original {
    background-image: url('../Edit_Article_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:50px;
    width:1020px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:50px;
    width:1020px;
    height:60px
}

.u4_image_sketch {
    background-image: url('../Edit_Article_files/u4_image_sketch.png');
    position:absolute;
    left:447px;
    top:65px;
    width:186px;
    height:28px;
}

.u4 {
    position:absolute;
    left:450px;
    top:68px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_original {
    background-image: url('../Edit_Article_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:30px;
    top:70px;
    width:206px;
    height:24px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:206px;
    height:24px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:30px;
    top:70px;
    width:206px;
    height:24px
}

.u7_image_sketch {
    background-image: url('../Edit_Article_files/u7_image_sketch.png');
    position:absolute;
    left:807px;
    top:65px;
    width:176px;
    height:31px;
}

.u7 {
    position:absolute;
    left:810px;
    top:68px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 12px;
    color:#C9C9C9;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_image_sketch {
    background-image: url('../Edit_Article_files/u8_image_sketch.png');
    position:absolute;
    left:981px;
    top:65px;
    width:46px;
    height:31px;
}

.u8 {
    position:absolute;
    left:984px;
    top:68px;
    width:40px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_original {
    background-image: url('../Edit_Article_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:20px;
    top:20px;
    width:1020px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:20px;
    top:20px;
    width:1020px;
    height:30px
}

.u12 {
    position:absolute;
    left:30px;
    top:30px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:880px;
    top:30px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../Edit_Article_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:20px;
    top:110px;
    width:150px;
    height:970px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:976px;
}

.u16 {
    position:absolute;
    left:2px;
    top:477px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:20px;
    top:110px;
    width:150px;
    height:970px
}

.u19_selected {
    background-image: url('../Edit_Article_files/u19_selected.png');
}

.u19_original {
    background-image: url('../Edit_Article_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u21_original {
    background-image: url('../resources/images/transparent.gif');
}

.u21_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u21 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u24_original {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u25 {
    position:absolute;
    left:3px;
    top:4px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u24 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u27_original {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u28 {
    position:absolute;
    left:3px;
    top:4px;
    width:40px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u27 {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px
}

.u30_original {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:4px;
    width:57px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u33_original {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:4px;
    width:40px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33 {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px
}

.u36_original {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u39_original {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u42_selected {
    background-image: url('../Edit_Article_files/u19_selected.png');
}

.u42_original {
    background-image: url('../Edit_Article_files/u19_original.png');
}

.u42_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u44_original {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:3px;
    width:66px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u47_original {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:4px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u50_original {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:4px;
    width:36px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50 {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px
}

.u53_original {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u56_original {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u59_original {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u62_original {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u63 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u62 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u65_original {
    background-image: url('../resources/images/transparent.gif');
}

.u65_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u66 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u68_original {
    background-image: url('../resources/images/transparent.gif');
}

.u68_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u69 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u68 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u71_original {
    background-image: url('../resources/images/transparent.gif');
}

.u71_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u72 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u71 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u74_original {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:4px;
    width:75px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u77_original {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u80_original {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u80 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u83_selected {
    background-image: url('../Edit_Article_files/u19_selected.png');
}

.u83_original {
    background-image: url('../Edit_Article_files/u19_original.png');
}

.u83_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u84 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u85_original {
    background-image: url('../resources/images/transparent.gif');
}

.u85_container {
    position:absolute;
    left:22px;
    top:0px;
    width:48px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:26px;
}

.u86 {
    position:absolute;
    left:3px;
    top:3px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u85 {
    position:absolute;
    left:22px;
    top:0px;
    width:48px;
    height:20px
}

.u88_original {
    background-image: url('../resources/images/transparent.gif');
}

.u88_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u89 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u88 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u91_original {
    background-image: url('../resources/images/transparent.gif');
}

.u91_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u92 {
    position:absolute;
    left:3px;
    top:4px;
    width:75px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u91 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u94_original {
    background-image: url('../resources/images/transparent.gif');
}

.u94_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u95 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u94 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u97_selected {
    background-image: url('../Edit_Article_files/u19_selected.png');
}

.u97_original {
    background-image: url('../Edit_Article_files/u19_original.png');
}

.u97_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u99_original {
    background-image: url('../resources/images/transparent.gif');
}

.u99_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u100 {
    position:absolute;
    left:3px;
    top:3px;
    width:29px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u99 {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px
}

.u102_original {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u103 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u102 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u105_original {
    background-image: url('../resources/images/transparent.gif');
}

.u105_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u106 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u105 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u108_original {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u109 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u108 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u111_selected {
    background-image: url('../Edit_Article_files/u19_selected.png');
}

.u111_original {
    background-image: url('../Edit_Article_files/u19_original.png');
}

.u111_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u112 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u113_original {
    background-image: url('../resources/images/transparent.gif');
}

.u113_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u114 {
    position:absolute;
    left:3px;
    top:3px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u113 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u116_original {
    background-image: url('../resources/images/transparent.gif');
}

.u116_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u117 {
    position:absolute;
    left:3px;
    top:4px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u116 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u119_original {
    background-image: url('../resources/images/transparent.gif');
}

.u119_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u120 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u119 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u122_line {
    background-image: url('../Edit_Article_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:190px;
    top:159px;
    width:830px;
    height:5px;
}

.u122 {
    position:absolute;
    left:190px;
    top:159px;
    width:830px;
    height:5px
}

.u123 {
    position:absolute;
    left:190px;
    top:130px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:190px;
    top:195px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_image_sketch {
    background-image: url('../Edit_Article_files/u125_image_sketch.png');
    position:absolute;
    left:275px;
    top:187px;
    width:298px;
    height:31px;
}

.u125 {
    position:absolute;
    left:278px;
    top:190px;
    width:292px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:190px;
    top:261px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_image_sketch {
    background-image: url('../Edit_Article_files/u127_image_sketch.png');
    position:absolute;
    left:275px;
    top:253px;
    width:298px;
    height:31px;
}

.u127 {
    position:absolute;
    left:278px;
    top:256px;
    width:292px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128_down {
    background-image: url('../Edit_Article_files/u128_down.png');
}

.u128_selected {
    background-image: url('../Edit_Article_files/u128_selected.png');
}

.u128_disabled {
    background-image: url('../Edit_Article_files/u128_disabled.png');
}

.u128_original {
    background-image: url('../Edit_Article_files/u128_selected.png');
}

.u128_container {
    position:absolute;
    left:199px;
    top:481px;
    width:79px;
    height:31px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:31px;
}

.u129 {
    position:absolute;
    left:2px;
    top:8px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:199px;
    top:481px;
    width:79px;
    height:31px
}

.u130 {
    position:absolute;
    left:218px;
    top:490px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:288px;
    top:489px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_original {
    background-image: url('../Edit_Article_files/u132_original.png');
}

.u132_container {
    position:absolute;
    left:200px;
    top:511px;
    width:490px;
    height:329px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:496px;
    height:335px;
}

.u133 {
    position:absolute;
    left:2px;
    top:156px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:200px;
    top:511px;
    width:490px;
    height:329px
}

.u134_image_sketch {
    background-image: url('../Edit_Article_files/u134_image_sketch.png');
    position:absolute;
    left:217px;
    top:553px;
    width:456px;
    height:255px;
}

.u134 {
    position:absolute;
    left:220px;
    top:556px;
    width:450px;
    height:249px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135_original {
    background-image: url('../Edit_Article_files/u135_original.png');
}

.u135_container {
    position:absolute;
    left:724px;
    top:188px;
    width:296px;
    height:462px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:468px;
}

.u136 {
    position:absolute;
    left:2px;
    top:223px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:724px;
    top:188px;
    width:296px;
    height:462px
}

.u137 {
    position:absolute;
    left:740px;
    top:319px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_image_sketch {
    background-image: url('../Edit_Article_files/u138_image_sketch.png');
    position:absolute;
    left:807px;
    top:310px;
    width:196px;
    height:31px;
}

.u138 {
    position:absolute;
    left:810px;
    top:313px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:740px;
    top:359px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_image_sketch {
    background-image: url('../Edit_Article_files/u140_image_sketch.png');
    position:absolute;
    left:807px;
    top:350px;
    width:196px;
    height:31px;
}

.u140 {
    position:absolute;
    left:810px;
    top:353px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u141_line {
    background-image: url('../Edit_Article_files/u141_line.png');
}

.u141_line {
    position:absolute;
    left:737px;
    top:297px;
    width:270px;
    height:5px;
}

.u141 {
    position:absolute;
    left:737px;
    top:297px;
    width:270px;
    height:5px
}

.u142 {
    position:absolute;
    left:738px;
    top:394px;
    width:112px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_image_sketch {
    background-image: url('../Edit_Article_files/u143_image_sketch.png');
    position:absolute;
    left:807px;
    top:387px;
    width:66px;
    height:28px;
}

.u143 {
    position:absolute;
    left:810px;
    top:390px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u144 {
    position:absolute;
    left:738px;
    top:204px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_image_sketch {
    background-image: url('../Edit_Article_files/u145_image_sketch.png');
    position:absolute;
    left:807px;
    top:201px;
    width:196px;
    height:86px;
}

.u145 {
    position:absolute;
    left:810px;
    top:204px;
    width:190px;
    height:80px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u146_line {
    background-image: url('../Edit_Article_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:737px;
    top:424px;
    width:270px;
    height:5px;
}

.u146 {
    position:absolute;
    left:737px;
    top:424px;
    width:270px;
    height:5px
}

.u147_original {
    background-image: url('../Edit_Article_files/u147_original.png');
}

.u147_container {
    position:absolute;
    left:739px;
    top:441px;
    width:81px;
    height:25px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:31px;
}

.u148 {
    position:absolute;
    left:2px;
    top:6px;
    width:77px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:739px;
    top:441px;
    width:81px;
    height:25px
}

.u149_original {
    background-image: url('../Edit_Article_files/u149_original.png');
}

.u149_container {
    position:absolute;
    left:940px;
    top:442px;
    width:70px;
    height:25px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u150 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:940px;
    top:442px;
    width:70px;
    height:25px
}

.u151_original {
    background-image: url('../Edit_Article_files/u151_original.png');
}

.u151_container {
    position:absolute;
    left:917px;
    top:611px;
    width:90px;
    height:25px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u152 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:917px;
    top:611px;
    width:90px;
    height:25px
}

.u153_line {
    background-image: url('../Edit_Article_files/u153_line.png');
}

.u153_line {
    position:absolute;
    left:737px;
    top:479px;
    width:270px;
    height:5px;
}

.u153 {
    position:absolute;
    left:737px;
    top:479px;
    width:270px;
    height:5px
}

.u154_text {
    position:absolute;
    left:959px;
    top:134px;
    width:60px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:959px;
    top:134px;
    width:60px;
    height:13px
}

.u155 {
    position:absolute;
    left:740px;
    top:502px;
    width:270px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_line {
    background-image: url('../Edit_Article_files/u156_line.png');
}

.u156_line {
    position:absolute;
    left:737px;
    top:524px;
    width:270px;
    height:5px;
}

.u156 {
    position:absolute;
    left:737px;
    top:524px;
    width:270px;
    height:5px
}

.u157_original {
    background-image: url('../Edit_Article_files/u157_original.png');
}

.u157_container {
    position:absolute;
    left:728px;
    top:670px;
    width:290px;
    height:40px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u158 {
    position:absolute;
    left:2px;
    top:12px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:728px;
    top:670px;
    width:290px;
    height:40px
}

.u159 {
    position:absolute;
    left:280px;
    top:221px;
    width:190px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:280px;
    top:288px;
    width:190px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:192px;
    top:323px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_image_sketch {
    background-image: url('../Edit_Article_files/u162_image_sketch.png');
    position:absolute;
    left:277px;
    top:317px;
    width:418px;
    height:86px;
}

.u162 {
    position:absolute;
    left:280px;
    top:320px;
    width:412px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u163_line {
    background-image: url('../Edit_Article_files/u163_line.png');
}

.u163_line {
    position:absolute;
    left:202px;
    top:463px;
    width:490px;
    height:5px;
}

.u163 {
    position:absolute;
    left:202px;
    top:463px;
    width:490px;
    height:5px
}

.u164 {
    position:absolute;
    left:192px;
    top:425px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_image_sketch {
    background-image: url('../Edit_Article_files/u165_image_sketch.png');
    position:absolute;
    left:277px;
    top:417px;
    width:418px;
    height:31px;
}

.u165 {
    position:absolute;
    left:280px;
    top:420px;
    width:412px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u166_original {
    background-image: url('../Edit_Article_files/u166_original.png');
}

.u166_container {
    position:absolute;
    left:220px;
    top:528px;
    width:70px;
    height:18px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:24px;
}

.u167 {
    position:absolute;
    left:2px;
    top:3px;
    width:66px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:220px;
    top:528px;
    width:70px;
    height:18px
}

.u169 {
    position:absolute;
    left:16px;
    top:0px;
    width:165px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:16px;
    top:0px;
    width:165px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_line {
    background-image: url('../Edit_Article_files/u172_line.png');
}

.u172_line {
    position:absolute;
    left:737px;
    top:593px;
    width:270px;
    height:5px;
}

.u172 {
    position:absolute;
    left:737px;
    top:593px;
    width:270px;
    height:5px
}

.u173_original {
    background-image: url('../Edit_Article_files/u151_original.png');
}

.u173_container {
    position:absolute;
    left:740px;
    top:611px;
    width:90px;
    height:25px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u174 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:740px;
    top:611px;
    width:90px;
    height:25px
}

.u175_original {
    background-image: url('../Edit_Article_files/u175_original.png');
}

.u175_container {
    position:absolute;
    left:590px;
    top:190px;
    width:110px;
    height:90px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:90px;
}

.u176 {
    position:absolute;
    left:2px;
    top:37px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:590px;
    top:190px;
    width:110px;
    height:90px
}

.u177 {
    position:absolute;
    left:616px;
    top:266px;
    width:70px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

