* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u2_original.png");
}

* html .u4_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u4_image_sketch.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u5_original.png");
}

* html .u7_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u7_image_sketch.png");
}

* html .u8_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u8_image_sketch.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u10_original.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u15_original.png");
}

* html .u19_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_selected.png");
}

* html .u19_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_original.png");
}

* html .u42_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_selected.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_original.png");
}

* html .u83_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_selected.png");
}

* html .u83_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_original.png");
}

* html .u97_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_selected.png");
}

* html .u97_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_original.png");
}

* html .u111_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_selected.png");
}

* html .u111_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u19_original.png");
}

* html .u122_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u122_line.png");
}

* html .u125_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u125_original.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u130_original.png");
}

* html .u134_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u134_menu.png");
}

* html .u135_table {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u135_table.png");
}

* html .u136_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u136_original.png");
}

* html .u138_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u136_original.png");
}

* html .u140_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u140_line.png");
}

* html .u142_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u142_line.png");
}

* html .u146_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u146_menu.png");
}

* html .u147_table {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u147_table.png");
}

* html .u148_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u136_original.png");
}

* html .u150_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u136_original.png");
}

* html .u153_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u153_original.png");
}

* html .u156_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u156_image_sketch.png");
}

* html .u158_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u158_image_sketch.png");
}

* html .u159_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u159_original.png");
}

* html .u161_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u161_original.png");
}

* html .u163_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u163_image_sketch.png");
}

* html .u164_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u164_image_sketch.png");
}

* html .u166_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u166_original.png");
}

* html .u169_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u169_original.png");
}

* html .u171_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u171_image_sketch.png");
}

* html .u172_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u161_original.png");
}

* html .u175_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u175_image_sketch.png");
}

* html .u177_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u177_image_sketch.png");
}

* html .u178_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u178_down.png");
}

* html .u178_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u178_selected.png");
}

* html .u178_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u178_disabled.png");
}

* html .u178_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u178_selected.png");
}

* html .u182_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u182_original.png");
}

* html .u184_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u184_image_sketch.png");
}

* html .u185_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u185_original.png");
}

* html .u187_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u187_original.png");
}

* html .u190_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u190_image_sketch.png");
}

* html .u192_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u192_image_sketch.png");
}

* html .u193_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u193_line.png");
}

* html .u195_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u195_image_sketch.png");
}

* html .u200_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u200_image_sketch.png");
}

* html .u201_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_Child_Articles_files/u201_image_sketch.png");
}

