body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Comments_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:305px;
    top:160px;
    width:460px;
    height:230px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:236px;
}

.u1 {
    position:absolute;
    left:2px;
    top:107px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:305px;
    top:160px;
    width:460px;
    height:230px
}

.u2 {
    position:absolute;
    left:325px;
    top:185px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../Comments_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:325px;
    top:213px;
    width:420px;
    height:5px;
}

.u3 {
    position:absolute;
    left:325px;
    top:213px;
    width:420px;
    height:5px
}

.u4 {
    position:absolute;
    left:354px;
    top:240px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_image_sketch {
    background-image: url('../Comments_files/u5_image_sketch.png');
    position:absolute;
    left:397px;
    top:232px;
    width:356px;
    height:31px;
}

.u5 {
    position:absolute;
    left:400px;
    top:235px;
    width:350px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_original {
    background-image: url('../Comments_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:690px;
    top:340px;
    width:60px;
    height:35px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:41px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:690px;
    top:340px;
    width:60px;
    height:35px
}

.u8_original {
    background-image: url('../Comments_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:620px;
    top:340px;
    width:56px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:620px;
    top:340px;
    width:56px;
    height:35px
}

.u10_original {
    background-image: url('../Comments_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:325px;
    top:340px;
    width:55px;
    height:35px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:41px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:325px;
    top:340px;
    width:55px;
    height:35px
}

.u12 {
    position:absolute;
    left:322px;
    top:274px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_image_sketch {
    background-image: url('../Comments_files/u13_image_sketch.png');
    position:absolute;
    left:397px;
    top:270px;
    width:76px;
    height:28px;
}

.u13 {
    position:absolute;
    left:400px;
    top:273px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

