<div class="f12">
  <p class="mbs">特别提示：</p>
  <p>带【预售】状态的实录，该公司股东大会尚未召开，您可以提前预订实录并提问，实录将会在股东大会召开后更新。</p>
  <p>根据机构和职业投资人的关注度高低排序，初步圈定数百家目标上市公司，我们将密切跟踪其年报披露日、股东大会日、股权登记日等事项进展，并安排经验丰富的研究员参加年度股东大会，将投资者关心的问题向公司高管寻求解答。以上名单并非全部，后续，我们还将根据市场的反馈调整名单，陆续分批增加新的公司，投资者可将自己感兴趣的公司和的问题，一并提交，将成为增加名单的依据。</p>
</div>