<div class="tzbWrapper tzbWrapper-g">
  <div class="gmsTipContainer">
      <div class="alert_info tc pam">
          <p>检测到你的帐号已经在别处登录。</p>
          <div class="tcBtns">
              <%= link_to '<span>重新登录</span>'.html_safe, user_sign_in_url, :class => "btnBlueM" %>
          </div>
      </div>
  </div>
</div>