body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Homepage_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:50px;
    width:800px;
    height:3590px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:3596px;
}

.u1 {
    position:absolute;
    left:2px;
    top:1787px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:100px;
    top:50px;
    width:800px;
    height:3590px
}

.u2_original {
    background-image: url('../Homepage_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:80px;
    width:800px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:100px;
    top:80px;
    width:800px;
    height:120px
}

.u4_original {
    background-image: url('../Homepage_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:200px;
    width:800px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:100px;
    top:200px;
    width:800px;
    height:40px
}

.u6 {
    position:absolute;
    left:120px;
    top:212px;
    width:560px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_image_sketch {
    background-image: url('../Homepage_files/u7_image_sketch.png');
    position:absolute;
    left:649px;
    top:204px;
    width:186px;
    height:31px;
}

.u7 {
    position:absolute;
    left:652px;
    top:207px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_image_sketch {
    background-image: url('../Homepage_files/u8_image_sketch.png');
    position:absolute;
    left:832px;
    top:204px;
    width:46px;
    height:31px;
}

.u8 {
    position:absolute;
    left:835px;
    top:207px;
    width:40px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_original {
    background-image: url('../Homepage_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:100px;
    top:50px;
    width:800px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:100px;
    top:50px;
    width:800px;
    height:30px
}

.u11 {
    position:absolute;
    left:581px;
    top:59px;
    width:310px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../Homepage_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:100px;
    top:170px;
    width:800px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:100px;
    top:170px;
    width:800px;
    height:30px
}

.u14 {
    position:absolute;
    left:110px;
    top:178px;
    width:470px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:732px;
    top:177px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_original {
    background-image: url('../Homepage_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:120px;
    top:100px;
    width:230px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:50px;
}

.u17 {
    position:absolute;
    left:2px;
    top:17px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:120px;
    top:100px;
    width:230px;
    height:50px
}

.u18_original {
    background-image: url('../Homepage_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:380px;
    top:90px;
    width:510px;
    height:70px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:70px;
}

.u19 {
    position:absolute;
    left:2px;
    top:27px;
    width:506px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:380px;
    top:90px;
    width:510px;
    height:70px
}

.u20 {
    position:absolute;
    left:730px;
    top:50px;
    width:60px;
    height:30px
}

.u21 {
    position:absolute;
    left:798px;
    top:50px;
    width:30px;
    height:30px
}

.u22 {
    position:absolute;
    left:523px;
    top:200px;
    width:50px;
    height:40px
}

.u23 {
    position:absolute;
    left:110px;
    top:200px;
    width:50px;
    height:40px
}

.u24 {
    position:absolute;
    left:165px;
    top:200px;
    width:50px;
    height:40px
}

.u25 {
    position:absolute;
    left:220px;
    top:200px;
    width:40px;
    height:40px
}

.u26 {
    position:absolute;
    left:268px;
    top:200px;
    width:40px;
    height:40px
}

.u27 {
    position:absolute;
    left:319px;
    top:200px;
    width:43px;
    height:40px
}

.u28 {
    position:absolute;
    left:371px;
    top:200px;
    width:40px;
    height:40px
}

.u29 {
    position:absolute;
    left:424px;
    top:200px;
    width:39px;
    height:40px
}

.u30 {
    position:absolute;
    left:477px;
    top:200px;
    width:39px;
    height:40px
}

.u32 {
    position:absolute;
    left:120px;
    top:454px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_original {
    background-image: url('../Homepage_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:120px;
    top:480px;
    width:180px;
    height:190px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:196px;
}

.u34 {
    position:absolute;
    left:2px;
    top:87px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:120px;
    top:480px;
    width:180px;
    height:190px
}

.u35 {
    position:absolute;
    left:330px;
    top:451px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_original {
    background-image: url('../Homepage_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:330px;
    top:481px;
    width:290px;
    height:390px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:396px;
}

.u37 {
    position:absolute;
    left:2px;
    top:187px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:330px;
    top:481px;
    width:290px;
    height:390px
}

.u38 {
    position:absolute;
    left:650px;
    top:425px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_original {
    background-image: url('../Homepage_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:650px;
    top:447px;
    width:230px;
    height:244px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:250px;
}

.u40 {
    position:absolute;
    left:2px;
    top:114px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:650px;
    top:447px;
    width:230px;
    height:244px
}

.u41 {
    position:absolute;
    left:120px;
    top:686px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_original {
    background-image: url('../Homepage_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:120px;
    top:708px;
    width:180px;
    height:170px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:176px;
}

.u43 {
    position:absolute;
    left:2px;
    top:77px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:120px;
    top:708px;
    width:180px;
    height:170px
}

.u44 {
    position:absolute;
    left:650px;
    top:709px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_original {
    background-image: url('../Homepage_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:650px;
    top:730px;
    width:230px;
    height:140px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:146px;
}

.u46 {
    position:absolute;
    left:2px;
    top:62px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:650px;
    top:730px;
    width:230px;
    height:140px
}

.u47 {
    position:absolute;
    left:650px;
    top:1034px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_original {
    background-image: url('../Homepage_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:650px;
    top:1060px;
    width:210px;
    height:180px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:180px;
}

.u49 {
    position:absolute;
    left:2px;
    top:82px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:650px;
    top:1060px;
    width:210px;
    height:180px
}

.u50_original {
    background-image: url('../Homepage_files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:120px;
    top:990px;
    width:760px;
    height:30px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:36px;
}

.u51 {
    position:absolute;
    left:2px;
    top:7px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:120px;
    top:990px;
    width:760px;
    height:30px
}

.u52 {
    position:absolute;
    left:130px;
    top:996px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:610px;
    top:997px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:120px;
    top:1254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_original {
    background-image: url('../Homepage_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:120px;
    top:1280px;
    width:500px;
    height:80px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:86px;
}

.u56 {
    position:absolute;
    left:2px;
    top:32px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:120px;
    top:1280px;
    width:500px;
    height:80px
}

.u57 {
    position:absolute;
    left:120px;
    top:1374px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_original {
    background-image: url('../Homepage_files/u55_original.png');
}

.u58_container {
    position:absolute;
    left:120px;
    top:1400px;
    width:500px;
    height:80px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:86px;
}

.u59 {
    position:absolute;
    left:2px;
    top:32px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:120px;
    top:1400px;
    width:500px;
    height:80px
}

.u60_original {
    background-image: url('../Homepage_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:120px;
    top:1504px;
    width:760px;
    height:86px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:760px;
    height:86px;
}

.u61 {
    position:absolute;
    left:2px;
    top:35px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:120px;
    top:1504px;
    width:760px;
    height:86px
}

.u63_original {
    background-image: url('../Homepage_files/u50_original.png');
}

.u63_container {
    position:absolute;
    left:120px;
    top:1600px;
    width:760px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:120px;
    top:1600px;
    width:760px;
    height:30px
}

.u65 {
    position:absolute;
    left:130px;
    top:1606px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:340px;
    top:1607px;
    width:530px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:650px;
    top:1864px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_original {
    background-image: url('../Homepage_files/u68_original.png');
}

.u68_container {
    position:absolute;
    left:650px;
    top:1890px;
    width:230px;
    height:90px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:96px;
}

.u69 {
    position:absolute;
    left:2px;
    top:38px;
    width:226px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:650px;
    top:1890px;
    width:230px;
    height:90px
}

.u70 {
    position:absolute;
    left:650px;
    top:1640px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_original {
    background-image: url('../Homepage_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:650px;
    top:1666px;
    width:230px;
    height:184px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:190px;
}

.u72 {
    position:absolute;
    left:2px;
    top:84px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:650px;
    top:1666px;
    width:230px;
    height:184px
}

.u73_original {
    background-image: url('../Homepage_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:120px;
    top:2100px;
    width:760px;
    height:86px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:760px;
    height:86px;
}

.u74 {
    position:absolute;
    left:2px;
    top:35px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:120px;
    top:2100px;
    width:760px;
    height:86px
}

.u75_original {
    background-image: url('../Homepage_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:120px;
    top:2510px;
    width:240px;
    height:180px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:186px;
}

.u76 {
    position:absolute;
    left:2px;
    top:82px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:120px;
    top:2510px;
    width:240px;
    height:180px
}

.u77_original {
    background-image: url('../Homepage_files/u75_original.png');
}

.u77_container {
    position:absolute;
    left:380px;
    top:2510px;
    width:240px;
    height:180px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:186px;
}

.u78 {
    position:absolute;
    left:2px;
    top:82px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:380px;
    top:2510px;
    width:240px;
    height:180px
}

.u79_original {
    background-image: url('../Homepage_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:120px;
    top:2440px;
    width:500px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:7px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:120px;
    top:2440px;
    width:500px;
    height:30px
}

.u81 {
    position:absolute;
    left:130px;
    top:2446px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:350px;
    top:2447px;
    width:260px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:121px;
    top:2484px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:650px;
    top:2204px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_original {
    background-image: url('../Homepage_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:650px;
    top:2230px;
    width:230px;
    height:460px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:466px;
}

.u86 {
    position:absolute;
    left:2px;
    top:222px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:650px;
    top:2230px;
    width:230px;
    height:460px
}

.u87 {
    position:absolute;
    left:380px;
    top:2484px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_original {
    background-image: url('../Homepage_files/u88_original.png');
}

.u88_container {
    position:absolute;
    left:120px;
    top:2710px;
    width:760px;
    height:86px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:760px;
    height:86px;
}

.u89 {
    position:absolute;
    left:2px;
    top:35px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:120px;
    top:2710px;
    width:760px;
    height:86px
}

.u91_original {
    background-image: url('../Homepage_files/u91_original.png');
}

.u91_container {
    position:absolute;
    left:120px;
    top:2860px;
    width:240px;
    height:440px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:446px;
}

.u92 {
    position:absolute;
    left:2px;
    top:212px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:120px;
    top:2860px;
    width:240px;
    height:440px
}

.u93_original {
    background-image: url('../Homepage_files/u91_original.png');
}

.u93_container {
    position:absolute;
    left:380px;
    top:2860px;
    width:240px;
    height:440px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:446px;
}

.u94 {
    position:absolute;
    left:2px;
    top:212px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:380px;
    top:2860px;
    width:240px;
    height:440px
}

.u95_original {
    background-image: url('../Homepage_files/u95_original.png');
}

.u95_container {
    position:absolute;
    left:120px;
    top:2810px;
    width:240px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:7px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:120px;
    top:2810px;
    width:240px;
    height:30px
}

.u97 {
    position:absolute;
    left:130px;
    top:2816px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:180px;
    top:2817px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:650px;
    top:2814px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_original {
    background-image: url('../Homepage_files/u100_original.png');
}

.u100_container {
    position:absolute;
    left:650px;
    top:2840px;
    width:230px;
    height:290px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:296px;
}

.u101 {
    position:absolute;
    left:2px;
    top:137px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:650px;
    top:2840px;
    width:230px;
    height:290px
}

.u102_original {
    background-image: url('../Homepage_files/u95_original.png');
}

.u102_container {
    position:absolute;
    left:380px;
    top:2810px;
    width:240px;
    height:30px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:36px;
}

.u103 {
    position:absolute;
    left:2px;
    top:7px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:380px;
    top:2810px;
    width:240px;
    height:30px
}

.u104 {
    position:absolute;
    left:390px;
    top:2816px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:440px;
    top:2817px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:650px;
    top:3144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_original {
    background-image: url('../Homepage_files/u107_original.png');
}

.u107_container {
    position:absolute;
    left:650px;
    top:3170px;
    width:230px;
    height:130px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:136px;
}

.u108 {
    position:absolute;
    left:2px;
    top:57px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:650px;
    top:3170px;
    width:230px;
    height:130px
}

.u109_original {
    background-image: url('../Homepage_files/u109_original.png');
}

.u109_container {
    position:absolute;
    left:120px;
    top:3320px;
    width:760px;
    height:86px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:760px;
    height:86px;
}

.u110 {
    position:absolute;
    left:2px;
    top:35px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:120px;
    top:3320px;
    width:760px;
    height:86px
}

.u112_original {
    background-image: url('../Homepage_files/u112_original.png');
}

.u112_container {
    position:absolute;
    left:116px;
    top:3431px;
    width:770px;
    height:110px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:116px;
}

.u113 {
    position:absolute;
    left:2px;
    top:47px;
    width:766px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:116px;
    top:3431px;
    width:770px;
    height:110px
}

.u114_original {
    background-image: url('../Homepage_files/u114_original.png');
}

.u114_container {
    position:absolute;
    left:121px;
    top:3435px;
    width:760px;
    height:102px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:760px;
    height:102px;
}

.u115 {
    position:absolute;
    left:2px;
    top:43px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:121px;
    top:3435px;
    width:760px;
    height:102px
}

.u117_original {
    background-image: url('../Homepage_files/u4_original.png');
}

.u117_container {
    position:absolute;
    left:100px;
    top:3560px;
    width:800px;
    height:40px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:46px;
}

.u118 {
    position:absolute;
    left:2px;
    top:12px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:100px;
    top:3560px;
    width:800px;
    height:40px
}

.u119 {
    position:absolute;
    left:120px;
    top:3571px;
    width:770px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_original {
    background-image: url('../Homepage_files/u120_original.png');
}

.u120_container {
    position:absolute;
    left:100px;
    top:3600px;
    width:800px;
    height:80px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:86px;
}

.u121 {
    position:absolute;
    left:2px;
    top:19px;
    width:796px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:100px;
    top:3600px;
    width:800px;
    height:80px
}

.u123 {
    position:absolute;
    left:120px;
    top:253px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:478px;
    top:257px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_original {
    background-image: url('../Homepage_files/u125_original.png');
}

.u125_container {
    position:absolute;
    left:120px;
    top:279px;
    width:510px;
    height:148px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:148px;
}

.u126 {
    position:absolute;
    left:2px;
    top:66px;
    width:506px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:120px;
    top:279px;
    width:510px;
    height:148px
}

.u128_original {
    background-image: url('../Homepage_files/u107_original.png');
}

.u128_container {
    position:absolute;
    left:650px;
    top:280px;
    width:230px;
    height:130px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:136px;
}

.u129 {
    position:absolute;
    left:2px;
    top:57px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:650px;
    top:280px;
    width:230px;
    height:130px
}

.u130 {
    position:absolute;
    left:650px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_original {
    background-image: url('../Homepage_files/u131_original.png');
}

.u131_container {
    position:absolute;
    left:651px;
    top:281px;
    width:228px;
    height:129px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:228px;
    height:129px;
}

.u132 {
    position:absolute;
    left:2px;
    top:57px;
    width:224px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:651px;
    top:281px;
    width:228px;
    height:129px
}

.u133 {
    position:absolute;
    left:810px;
    top:257px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_original {
    background-image: url('../Homepage_files/u135_original.png');
}

.u135_container {
    position:absolute;
    left:123px;
    top:484px;
    width:173px;
    height:180px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:180px;
}

.u136 {
    position:absolute;
    left:2px;
    top:82px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:123px;
    top:484px;
    width:173px;
    height:180px
}

.u137 {
    position:absolute;
    left:220px;
    top:457px;
    width:80px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_original {
    background-image: url('../Homepage_files/u138_original.png');
}

.u138_container {
    position:absolute;
    left:122px;
    top:710px;
    width:174px;
    height:160px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:160px;
}

.u139 {
    position:absolute;
    left:2px;
    top:72px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:122px;
    top:710px;
    width:174px;
    height:160px
}

.u140 {
    position:absolute;
    left:220px;
    top:688px;
    width:80px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_original {
    background-image: url('../Homepage_files/u141_original.png');
}

.u141_container {
    position:absolute;
    left:336px;
    top:487px;
    width:280px;
    height:381px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:381px;
}

.u142 {
    position:absolute;
    left:2px;
    top:182px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:336px;
    top:487px;
    width:280px;
    height:381px
}

.u143 {
    position:absolute;
    left:550px;
    top:453px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_original {
    background-image: url('../Homepage_files/u144_original.png');
}

.u144_container {
    position:absolute;
    left:657px;
    top:452px;
    width:216px;
    height:232px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:216px;
    height:232px;
}

.u145 {
    position:absolute;
    left:2px;
    top:108px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:657px;
    top:452px;
    width:216px;
    height:232px
}

.u146 {
    position:absolute;
    left:810px;
    top:425px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_original {
    background-image: url('../Homepage_files/u147_original.png');
}

.u147_container {
    position:absolute;
    left:657px;
    top:739px;
    width:215px;
    height:119px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:119px;
}

.u148 {
    position:absolute;
    left:2px;
    top:52px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:657px;
    top:739px;
    width:215px;
    height:119px
}

.u149_original {
    background-image: url('../Homepage_files/u149_original.png');
}

.u149_container {
    position:absolute;
    left:120px;
    top:890px;
    width:760px;
    height:86px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:760px;
    height:86px;
}

.u150 {
    position:absolute;
    left:2px;
    top:35px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:120px;
    top:890px;
    width:760px;
    height:86px
}

.u152_original {
    background-image: url('../Homepage_files/u152_original.png');
}

.u152_container {
    position:absolute;
    left:124px;
    top:1057px;
    width:230px;
    height:177px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:177px;
}

.u153 {
    position:absolute;
    left:2px;
    top:80px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:124px;
    top:1057px;
    width:230px;
    height:177px
}

.u154_original {
    background-image: url('../Homepage_files/u154_original.png');
}

.u154_container {
    position:absolute;
    left:125px;
    top:1287px;
    width:488px;
    height:66px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:488px;
    height:66px;
}

.u155 {
    position:absolute;
    left:2px;
    top:25px;
    width:484px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:125px;
    top:1287px;
    width:488px;
    height:66px
}

.u156_original {
    background-image: url('../Homepage_files/u156_original.png');
}

.u156_container {
    position:absolute;
    left:125px;
    top:1406px;
    width:488px;
    height:66px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:488px;
    height:66px;
}

.u157 {
    position:absolute;
    left:2px;
    top:25px;
    width:484px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:125px;
    top:1406px;
    width:488px;
    height:66px
}

.u158 {
    position:absolute;
    left:390px;
    top:1037px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_original {
    background-image: url('../Homepage_files/u159_original.png');
}

.u159_container {
    position:absolute;
    left:390px;
    top:1057px;
    width:230px;
    height:180px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:186px;
}

.u160 {
    position:absolute;
    left:2px;
    top:82px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:390px;
    top:1057px;
    width:230px;
    height:180px
}

.u161_original {
    background-image: url('../Homepage_files/u161_original.png');
}

.u161_container {
    position:absolute;
    left:400px;
    top:1067px;
    width:210px;
    height:160px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:160px;
}

.u162 {
    position:absolute;
    left:2px;
    top:72px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:400px;
    top:1067px;
    width:210px;
    height:160px
}

.u164_original {
    background-image: url('../Homepage_files/u164_original.png');
}

.u164_container {
    position:absolute;
    left:125px;
    top:1670px;
    width:500px;
    height:410px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:410px;
}

.u165 {
    position:absolute;
    left:2px;
    top:197px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:125px;
    top:1670px;
    width:500px;
    height:410px
}

.u166_original {
    background-image: url('../Homepage_files/u166_original.png');
}

.u166_container {
    position:absolute;
    left:654px;
    top:1669px;
    width:220px;
    height:179px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:179px;
}

.u167 {
    position:absolute;
    left:2px;
    top:82px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:654px;
    top:1669px;
    width:220px;
    height:179px
}

.u168_original {
    background-image: url('../Homepage_files/u168_original.png');
}

.u168_container {
    position:absolute;
    left:125px;
    top:2516px;
    width:227px;
    height:167px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:167px;
}

.u169 {
    position:absolute;
    left:2px;
    top:76px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:125px;
    top:2516px;
    width:227px;
    height:167px
}

.u170_original {
    background-image: url('../Homepage_files/u170_original.png');
}

.u170_container {
    position:absolute;
    left:384px;
    top:2514px;
    width:230px;
    height:170px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:170px;
}

.u171 {
    position:absolute;
    left:2px;
    top:77px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:384px;
    top:2514px;
    width:230px;
    height:170px
}

.u172_original {
    background-image: url('../Homepage_files/u172_original.png');
}

.u172_container {
    position:absolute;
    left:655px;
    top:2235px;
    width:219px;
    height:447px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:447px;
}

.u173 {
    position:absolute;
    left:2px;
    top:216px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:655px;
    top:2235px;
    width:219px;
    height:447px
}

.u174_original {
    background-image: url('../Homepage_files/u174_original.png');
}

.u174_container {
    position:absolute;
    left:125px;
    top:2867px;
    width:230px;
    height:426px;
}

#u174_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:426px;
}

.u175 {
    position:absolute;
    left:2px;
    top:205px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:125px;
    top:2867px;
    width:230px;
    height:426px
}

.u176_original {
    background-image: url('../Homepage_files/u176_original.png');
}

.u176_container {
    position:absolute;
    left:385px;
    top:2864px;
    width:230px;
    height:430px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:430px;
}

.u177 {
    position:absolute;
    left:2px;
    top:207px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:385px;
    top:2864px;
    width:230px;
    height:430px
}

.u178_original {
    background-image: url('../Homepage_files/u178_original.png');
}

.u178_container {
    position:absolute;
    left:654px;
    top:2845px;
    width:218px;
    height:280px;
}

#u178_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:280px;
}

.u179 {
    position:absolute;
    left:2px;
    top:132px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:654px;
    top:2845px;
    width:218px;
    height:280px
}

.u180_original {
    background-image: url('../Homepage_files/u180_original.png');
}

.u180_container {
    position:absolute;
    left:657px;
    top:3177px;
    width:213px;
    height:113px;
}

#u180_img {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:113px;
}

.u181 {
    position:absolute;
    left:2px;
    top:48px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:657px;
    top:3177px;
    width:213px;
    height:113px
}

.u182 {
    position:absolute;
    left:120px;
    top:450px;
    width:180px;
    height:20px
}

.u183 {
    position:absolute;
    left:810px;
    top:709px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:130px;
    top:1035px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:650px;
    top:1255px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:650px;
    top:1374px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_original {
    background-image: url('../Homepage_files/u187_original.png');
}

.u187_container {
    position:absolute;
    left:650px;
    top:1280px;
    width:230px;
    height:80px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:86px;
}

.u188 {
    position:absolute;
    left:2px;
    top:32px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:650px;
    top:1280px;
    width:230px;
    height:80px
}

.u189_original {
    background-image: url('../Homepage_files/u187_original.png');
}

.u189_container {
    position:absolute;
    left:650px;
    top:1400px;
    width:230px;
    height:80px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:86px;
}

.u190 {
    position:absolute;
    left:2px;
    top:32px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:650px;
    top:1400px;
    width:230px;
    height:80px
}

.u191_original {
    background-image: url('../Homepage_files/u68_original.png');
}

.u191_container {
    position:absolute;
    left:650px;
    top:1990px;
    width:230px;
    height:90px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:96px;
}

.u192 {
    position:absolute;
    left:2px;
    top:38px;
    width:226px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:650px;
    top:1990px;
    width:230px;
    height:90px
}

.u193 {
    position:absolute;
    left:130px;
    top:1647px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:390px;
    top:1647px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:130px;
    top:1867px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:387px;
    top:1867px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_original {
    background-image: url('../Homepage_files/u79_original.png');
}

.u197_container {
    position:absolute;
    left:120px;
    top:2205px;
    width:500px;
    height:30px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:36px;
}

.u198 {
    position:absolute;
    left:2px;
    top:7px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:120px;
    top:2205px;
    width:500px;
    height:30px
}

.u199 {
    position:absolute;
    left:130px;
    top:2211px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_original {
    background-image: url('../Homepage_files/u200_original.png');
}

.u200_container {
    position:absolute;
    left:120px;
    top:2270px;
    width:240px;
    height:150px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:156px;
}

.u201 {
    position:absolute;
    left:2px;
    top:67px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:120px;
    top:2270px;
    width:240px;
    height:150px
}

.u202_original {
    background-image: url('../Homepage_files/u200_original.png');
}

.u202_container {
    position:absolute;
    left:380px;
    top:2270px;
    width:240px;
    height:150px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:156px;
}

.u203 {
    position:absolute;
    left:2px;
    top:67px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:380px;
    top:2270px;
    width:240px;
    height:150px
}

.u204 {
    position:absolute;
    left:121px;
    top:2244px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:380px;
    top:2244px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_original {
    background-image: url('../Homepage_files/u206_original.png');
}

.u206_container {
    position:absolute;
    left:125px;
    top:2276px;
    width:227px;
    height:134px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:134px;
}

.u207 {
    position:absolute;
    left:2px;
    top:59px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:125px;
    top:2276px;
    width:227px;
    height:134px
}

.u208_original {
    background-image: url('../Homepage_files/u208_original.png');
}

.u208_container {
    position:absolute;
    left:384px;
    top:2274px;
    width:230px;
    height:136px;
}

#u208_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:136px;
}

.u209 {
    position:absolute;
    left:2px;
    top:60px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:384px;
    top:2274px;
    width:230px;
    height:136px
}

.u210 {
    position:absolute;
    left:350px;
    top:2213px;
    width:260px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:124px;
    top:2852px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:124px;
    top:2998px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:124px;
    top:3144px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:385px;
    top:2852px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:385px;
    top:2995px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:385px;
    top:3144px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

