<div class="leftCol">
	<div class="formA roundCorner">
          该功能仅对每经资讯产品的订阅用户开放。
          <br />
		<%= link_to "<span>每经资讯产品介绍</span>".html_safe, introduce_premium_mobile_newspaper_account_url %>
	</div>
</div>

<div class="rightCol"></div>
<div class="clear"></div>

