
<div class="leftCol">
  <div class="formA ">
		<div class="alert_done">
			<b></b>您的反馈已提交成功，我们将尽快处理。感谢您对每经网的支持！
		</div>
		<div id="mnBottomActions">
			<a href="javascript:void(0)" onclick="_nbd.closeWindow()" class="btnBlueM"><span>关闭此窗口</span></a>
		</div>
  </div>
</div>

<div class="rightCol">
</div>

<div class="clear"></div>