<div class="sectionA">
  <div class="title">
    <h1>网站页面缓存管理</h1>
  </div>
  <div class="content rightColCenter">
    <p>前台页面没有及时展示最新内容时，就需要手动清除一下页面缓存，注：各位不要频繁使用</p>
    <%= link_to "<span>清除缓存</span>".html_safe, expire_all_fragment_console_columns_url, :class => "btnRed" %>
  </div>
</div>
