<div class="sectionA">
	<div class="title"> 
		<h1>社区内容 - 微博直播</h1>
        <span class="opts"><%= link_to "<span>添加新直播</span>".html_safe, new_console_live_url(:type => Live::TYPE_STOCK), :class => "btnBlueM"%>
	</div>
	<div class="content">
		<%=render :partial => "console/lives/stock_lives_list", :locals=>{ :lives => @lives } %>
	</div>
</div>
