<h1>Listing stock_lives</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_lives.each do |stock_live| %>
  <tr>
    <td><%= link_to stock_live.title, stock_live %></td>
  </tr>
<% end %>
</table>

<br />

