<div class="operation">
	<%= paginate topics %>
	<div class='lOpt'>
		<span>批量操作:</span>
        <a href="#" class="btnGray banTopics"><span>屏蔽</span></a>
		<a href="#" class="btnGray delTopics"><span>删除</span></a>
	</div>
</div>
