<div class="sectionA">
	<div class="title">
		<h1>社区内容 - 热门标签</h1>
	</div>
	<div id="body_channel" class="content rightColCenter">
		<%=render :partial => "console/topics/hot_tags_list", :locals=>{ :keywords => @tags } %>
	</div>
</div>
