* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u2_original.png");
}

* html .u4_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u4_image_sketch.png");
}

* html .u5_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u5_image_sketch.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u6_original.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u9_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u14_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u18_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u20_original.png");
}

* html .u23_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u23_line.png");
}

* html .u25_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u25_image_sketch.png");
}

* html .u32_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u32_image_sketch.png");
}

* html .u34_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u34_image_sketch.png");
}

* html .u36_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u36_image_sketch.png");
}

* html .u38_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u38_image_sketch.png");
}

* html .u40_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u40_image_sketch.png");
}

* html .u42_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="NTT_Expert_Apply_files/u42_image_sketch.png");
}

