body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Feedback_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:20px;
    width:1020px;
    height:780px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:786px;
}

.u1 {
    position:absolute;
    left:2px;
    top:382px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:20px;
    top:20px;
    width:1020px;
    height:780px
}

.u2_original {
    background-image: url('../Feedback_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:20px;
    width:1020px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:20px;
    width:1020px;
    height:30px
}

.u4 {
    position:absolute;
    left:30px;
    top:30px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:880px;
    top:30px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../Feedback_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:20px;
    top:110px;
    width:150px;
    height:690px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:696px;
}

.u8 {
    position:absolute;
    left:2px;
    top:337px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:110px;
    width:150px;
    height:690px
}

.u11_selected {
    background-image: url('../Feedback_files/u11_selected.png');
}

.u11_original {
    background-image: url('../Feedback_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u13_original {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:3px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u16_original {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u19_original {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u20 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u19 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u22_original {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u23 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u22 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u25_selected {
    background-image: url('../Feedback_files/u11_selected.png');
}

.u25_original {
    background-image: url('../Feedback_files/u11_original.png');
}

.u25_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u27_original {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u28 {
    position:absolute;
    left:3px;
    top:3px;
    width:29px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u27 {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px
}

.u30_original {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u33_original {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u36_original {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u39_selected {
    background-image: url('../Feedback_files/u11_selected.png');
}

.u39_original {
    background-image: url('../Feedback_files/u11_original.png');
}

.u39_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u40 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u41_original {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:3px;
    width:29px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41 {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px
}

.u44_original {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:4px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u47_original {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:4px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u50_original {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u53_original {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u56_original {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u59_original {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u62_selected {
    background-image: url('../Feedback_files/u11_selected.png');
}

.u62_original {
    background-image: url('../Feedback_files/u11_original.png');
}

.u62_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u64_original {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:3px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u67_original {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u70_original {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u71 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u70 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u73_original {
    background-image: url('../resources/images/transparent.gif');
}

.u73_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u74 {
    position:absolute;
    left:3px;
    top:4px;
    width:40px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u73 {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px
}

.u76_original {
    background-image: url('../resources/images/transparent.gif');
}

.u76_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u77 {
    position:absolute;
    left:3px;
    top:4px;
    width:79px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u76 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u79_original {
    background-image: url('../resources/images/transparent.gif');
}

.u79_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u80 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u79 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u82_original {
    background-image: url('../resources/images/transparent.gif');
}

.u82_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u83 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u82 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u85_original {
    background-image: url('../resources/images/transparent.gif');
}

.u85_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u86 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u85 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u88_selected {
    background-image: url('../Feedback_files/u11_selected.png');
}

.u88_original {
    background-image: url('../Feedback_files/u11_original.png');
}

.u88_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u89 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u90_original {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u91 {
    position:absolute;
    left:3px;
    top:3px;
    width:29px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u90 {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px
}

.u93_original {
    background-image: url('../resources/images/transparent.gif');
}

.u93_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u94 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u93 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u96_original {
    background-image: url('../resources/images/transparent.gif');
}

.u96_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u97 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u96 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u99_original {
    background-image: url('../resources/images/transparent.gif');
}

.u99_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u100 {
    position:absolute;
    left:3px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u99 {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px
}

.u102_original {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u103 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u102 {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px
}

.u105_selected {
    background-image: url('../Feedback_files/u11_selected.png');
}

.u105_original {
    background-image: url('../Feedback_files/u11_original.png');
}

.u105_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u106 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u107_original {
    background-image: url('../resources/images/transparent.gif');
}

.u107_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u108 {
    position:absolute;
    left:3px;
    top:3px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u107 {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px
}

.u110_original {
    background-image: url('../resources/images/transparent.gif');
}

.u110_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u111 {
    position:absolute;
    left:3px;
    top:4px;
    width:27px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u110 {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px
}

.u113_original {
    background-image: url('../resources/images/transparent.gif');
}

.u113_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u114 {
    position:absolute;
    left:3px;
    top:4px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u113 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u116_original {
    background-image: url('../resources/images/transparent.gif');
}

.u116_container {
    position:absolute;
    left:22px;
    top:0px;
    width:50px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u117 {
    position:absolute;
    left:3px;
    top:4px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u116 {
    position:absolute;
    left:22px;
    top:0px;
    width:50px;
    height:20px
}

.u119_original {
    background-image: url('../resources/images/transparent.gif');
}

.u119_container {
    position:absolute;
    left:22px;
    top:0px;
    width:35px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u120 {
    position:absolute;
    left:3px;
    top:4px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u119 {
    position:absolute;
    left:22px;
    top:0px;
    width:35px;
    height:20px
}

.u122_original {
    background-image: url('../Feedback_files/u122_original.png');
}

.u122_container {
    position:absolute;
    left:20px;
    top:50px;
    width:1020px;
    height:60px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:66px;
}

.u123 {
    position:absolute;
    left:2px;
    top:22px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:20px;
    top:50px;
    width:1020px;
    height:60px
}

.u124_image_sketch {
    background-image: url('../Feedback_files/u124_image_sketch.png');
    position:absolute;
    left:447px;
    top:65px;
    width:186px;
    height:28px;
}

.u124 {
    position:absolute;
    left:450px;
    top:68px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u125_original {
    background-image: url('../Feedback_files/u125_original.png');
}

.u125_container {
    position:absolute;
    left:30px;
    top:70px;
    width:206px;
    height:24px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:206px;
    height:24px;
}

.u126 {
    position:absolute;
    left:2px;
    top:4px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:30px;
    top:70px;
    width:206px;
    height:24px
}

.u128_line {
    background-image: url('../Feedback_files/u128_line.png');
}

.u128_line {
    position:absolute;
    left:190px;
    top:193px;
    width:830px;
    height:5px;
}

.u128 {
    position:absolute;
    left:190px;
    top:193px;
    width:830px;
    height:5px
}

.u129 {
    position:absolute;
    left:190px;
    top:165px;
    width:300px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_original {
    background-image: url('../Feedback_files/u130_original.png');
}

.u130_container {
    position:absolute;
    left:170px;
    top:110px;
    width:870px;
    height:40px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:46px;
}

.u131 {
    position:absolute;
    left:2px;
    top:12px;
    width:866px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:170px;
    top:110px;
    width:870px;
    height:40px
}

.u132_menu {
    background-image: url('../Feedback_files/u132_menu.png');
}

.u132_menu {
    position:absolute;
    left:177px;
    top:114px;
    width:317px;
    height:35px;
}

#u133 {
    position:absolute;
    left:3px;
    top:3px;
    width:307px;
    height:25px
}

.u133_table {
    background-image: url('../Feedback_files/u133_table.png');
}

.u133_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:311px;
    height:29px;
}

.u134_original {
    background-image: url('../Feedback_files/u134_original.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:20px;
}

.u135 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:20px
}

.u136_original {
    background-image: url('../Feedback_files/u136_original.png');
}

.u136_container {
    position:absolute;
    left:70px;
    top:0px;
    width:81px;
    height:20px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:77px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:70px;
    top:0px;
    width:81px;
    height:20px
}

.u138_original {
    background-image: url('../Feedback_files/u138_original.png');
}

.u138_container {
    position:absolute;
    left:151px;
    top:0px;
    width:76px;
    height:20px;
}

.u139 {
    position:absolute;
    left:2px;
    top:4px;
    width:72px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:151px;
    top:0px;
    width:76px;
    height:20px
}

.u140_original {
    background-image: url('../Feedback_files/u140_original.png');
}

.u140_container {
    position:absolute;
    left:226px;
    top:0px;
    width:75px;
    height:20px;
}

.u141 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:226px;
    top:0px;
    width:75px;
    height:20px
}

#u142 {
    position:absolute;
    left:190px;
    top:220px;
    width:828px;
    height:333px
}

.u142_table {
    background-image: url('../Feedback_files/u142_table.png');
}

.u142_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:832px;
    height:337px;
}

.u143_original {
    background-image: url('../Feedback_files/u143_original.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:36px;
}

.u144 {
    position:absolute;
    left:10px;
    top:10px;
    width:152px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:36px
}

.u145_original {
    background-image: url('../Feedback_files/u145_original.png');
}

.u145_container {
    position:absolute;
    left:164px;
    top:0px;
    width:207px;
    height:36px;
}

.u146 {
    position:absolute;
    left:10px;
    top:10px;
    width:195px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:164px;
    top:0px;
    width:207px;
    height:36px
}

.u147_original {
    background-image: url('../Feedback_files/u147_original.png');
}

.u147_container {
    position:absolute;
    left:371px;
    top:0px;
    width:93px;
    height:36px;
}

.u148 {
    position:absolute;
    left:10px;
    top:10px;
    width:81px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:371px;
    top:0px;
    width:93px;
    height:36px
}

.u149_original {
    background-image: url('../Feedback_files/u149_original.png');
}

.u149_container {
    position:absolute;
    left:464px;
    top:0px;
    width:111px;
    height:36px;
}

.u150 {
    position:absolute;
    left:10px;
    top:10px;
    width:99px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:464px;
    top:0px;
    width:111px;
    height:36px
}

.u151_original {
    background-image: url('../Feedback_files/u151_original.png');
}

.u151_container {
    position:absolute;
    left:575px;
    top:0px;
    width:91px;
    height:36px;
}

.u152 {
    position:absolute;
    left:10px;
    top:10px;
    width:79px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:575px;
    top:0px;
    width:91px;
    height:36px
}

.u153_original {
    background-image: url('../Feedback_files/u153_original.png');
}

.u153_container {
    position:absolute;
    left:666px;
    top:0px;
    width:158px;
    height:36px;
}

.u154 {
    position:absolute;
    left:10px;
    top:10px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:666px;
    top:0px;
    width:158px;
    height:36px
}

.u155_original {
    background-image: url('../Feedback_files/u155_original.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:36px;
    width:164px;
    height:146px;
}

.u156 {
    position:absolute;
    left:10px;
    top:10px;
    width:149px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:0px;
    top:36px;
    width:164px;
    height:146px
}

.u157_original {
    background-image: url('../Feedback_files/u157_original.png');
}

.u157_container {
    position:absolute;
    left:164px;
    top:36px;
    width:207px;
    height:146px;
}

.u158 {
    position:absolute;
    left:10px;
    top:10px;
    width:187px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:164px;
    top:36px;
    width:207px;
    height:146px
}

.u159_original {
    background-image: url('../Feedback_files/u159_original.png');
}

.u159_container {
    position:absolute;
    left:371px;
    top:36px;
    width:93px;
    height:146px;
}

.u160 {
    position:absolute;
    left:10px;
    top:10px;
    width:78px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:371px;
    top:36px;
    width:93px;
    height:146px
}

.u161_original {
    background-image: url('../Feedback_files/u161_original.png');
}

.u161_container {
    position:absolute;
    left:464px;
    top:36px;
    width:111px;
    height:146px;
}

.u162 {
    position:absolute;
    left:10px;
    top:10px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:464px;
    top:36px;
    width:111px;
    height:146px
}

.u163_original {
    background-image: url('../Feedback_files/u163_original.png');
}

.u163_container {
    position:absolute;
    left:575px;
    top:36px;
    width:91px;
    height:146px;
}

.u164 {
    position:absolute;
    left:10px;
    top:10px;
    width:76px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:575px;
    top:36px;
    width:91px;
    height:146px
}

.u165_original {
    background-image: url('../Feedback_files/u165_original.png');
}

.u165_container {
    position:absolute;
    left:666px;
    top:36px;
    width:158px;
    height:146px;
}

.u166 {
    position:absolute;
    left:10px;
    top:10px;
    width:143px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:666px;
    top:36px;
    width:158px;
    height:146px
}

.u167_original {
    background-image: url('../Feedback_files/u155_original.png');
}

.u167_container {
    position:absolute;
    left:0px;
    top:182px;
    width:164px;
    height:146px;
}

.u168 {
    position:absolute;
    left:10px;
    top:10px;
    width:149px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:0px;
    top:182px;
    width:164px;
    height:146px
}

.u169_original {
    background-image: url('../Feedback_files/u157_original.png');
}

.u169_container {
    position:absolute;
    left:164px;
    top:182px;
    width:207px;
    height:146px;
}

.u170 {
    position:absolute;
    left:10px;
    top:10px;
    width:187px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:164px;
    top:182px;
    width:207px;
    height:146px
}

.u171_original {
    background-image: url('../Feedback_files/u159_original.png');
}

.u171_container {
    position:absolute;
    left:371px;
    top:182px;
    width:93px;
    height:146px;
}

.u172 {
    position:absolute;
    left:10px;
    top:10px;
    width:78px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:371px;
    top:182px;
    width:93px;
    height:146px
}

.u173_original {
    background-image: url('../Feedback_files/u161_original.png');
}

.u173_container {
    position:absolute;
    left:464px;
    top:182px;
    width:111px;
    height:146px;
}

.u174 {
    position:absolute;
    left:10px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:464px;
    top:182px;
    width:111px;
    height:146px
}

.u175_original {
    background-image: url('../Feedback_files/u163_original.png');
}

.u175_container {
    position:absolute;
    left:575px;
    top:182px;
    width:91px;
    height:146px;
}

.u176 {
    position:absolute;
    left:10px;
    top:10px;
    width:76px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:575px;
    top:182px;
    width:91px;
    height:146px
}

.u177_original {
    background-image: url('../Feedback_files/u165_original.png');
}

.u177_container {
    position:absolute;
    left:666px;
    top:182px;
    width:158px;
    height:146px;
}

.u178 {
    position:absolute;
    left:10px;
    top:10px;
    width:143px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:666px;
    top:182px;
    width:158px;
    height:146px
}

.u179_original {
    background-image: url('../Feedback_files/u179_original.png');
}

.u179_container {
    position:absolute;
    left:797px;
    top:563px;
    width:220px;
    height:30px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:36px;
}

.u180 {
    position:absolute;
    left:2px;
    top:8px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:797px;
    top:563px;
    width:220px;
    height:30px
}

