<div class="sectionA">
	<div class="title">
		<h1>添加新投票</h1>
		<span class="opts">
			<%= link_to '<span>取消</span>'.html_safe, console_polls_path, :class => "btnGray" %>
		</span>
	</div>
	<div class="content rightColCenter">
		<%= render 'form' %>
	</div>
</div>