<div class="sectionA">
	<div class="title">
		<h1>股东大会实录 - 添加新文章</h1>
		<span class="opts">
			<%= link_to '<span>取消</span>'.html_safe, console_premium_gms_articles_path, :class => "btnGray" %>
		</span>
	</div>
	<div class="content">
        <%= render 'form' %>
	</div>
</div>
