<% require_scrollFix %>

<%
  @title = "帮助中心"
%>

<div class="tzbSubNav">
  <div class="tzbWrapper">
    <h1>帮助中心</h1>
    <div class="tzbSubNav_index">
      <%= link_to "<span>意见反馈</span>".html_safe, new_premium_feedback_path, :class => "outlink outlink-s", :target => "_blank" %>
    </div>
  </div>
</div>

<div class="tzbHelpCenter">
  <div class="tzbWrapper">
    <div class="layout">

      <div class="lCol">
        <div class="tzbHelpCenter_index" id="helpIndex" style="width:180px;">
          <ul>
            <li><a href="#tzb_about">关于每经投资宝</a></li>
            <li><a href="#tzb_interview">每经投资宝介绍专访</a></li>
            <li>
              天天赢家
              <ul class="unorderList">
                <li><a href="#ttyj_buy">如何购买?</a></li>
                <li><a href="#ttyj_read">购买后如何阅读?</a></li>
                <li><a href="#ttyj_card">如何使用点卡?</a></li>
                <li><a href="#ttyj_service">会员服务</a></li>
                <li><a href="#ttyj_discount">如何获得购买优惠?</a></li>
                <li><a href="#ttyj_contact">问题未解决?</a></li>
              </ul>
            </li>
          </ul>
        </div>
        &nbsp;
      </div>

      <div class="main">
        <div class="intro">
          <h2 id="tzb_about">关于每经投资宝</h2>
          <p>
            《每经投资宝》是每日经济新闻报社旗下每经研究院基于权威的新闻媒体平台和专业的研发团队，倾力打造的一系列财经证券资讯信息产品，于2012年8月正式上线。
          </p>
          <p>
            《每经投资宝》专注于给投资者提供具有前瞻性、实用性、有效性和指导性的财经证券资讯，其产品从“投资快讯”（普通产品）到“天天赢家”（主推产品）再到“股东大会实录”“每经特供”系列，构成了一个完整的产品链条。
          </p>
          <p>
            我们的愿望，就是借助每日经济新闻研究院的专业力量，借助财经新闻人的职业敏感，借助我们多年投资的实战经验，从纷繁迷乱的市场行情运行之中，从形形色色的金融噪音里，抽离出一些反映市场真相的逻辑脉络、进行前瞻性的策略和个股研究，为每天守望着盘面而迷茫的投资者点亮一盏稍微看清每天市场的灯，这盏灯，哪怕只能照射到市场的局部角落，也能厘清一些迷雾；在这个角落里，寻找那白驹过隙一般的机会；更重要的是，能规避黑云一般的风险，确保资金的安全。
          </p>

          <h2 id="tzb_interview">每经投资宝介绍专访：在纷繁迷乱的股市中为投资者点亮一盏灯</h2>
          <p>专访《每日经济新闻》报社执行总编辑、每经研究院院长、每经投资宝总编辑李伟先生</p>

          <p>一些炒股的朋友发现，最近手机上多了一条名为“每经投资宝·投资快讯”和“每经投资宝·天天赢家”的信息，传递着专业权威的投资资讯，信息对市场分析和公司的前瞻性把握，非常实用和有效。</p>

          <p>这就是每经研究院2012年末推出的“新型产品”《每经投资宝》系列产品线，正式上线半年来，《每经投资宝》前瞻性地发掘出大量有价值的投资资讯，让很多试用的股民朋友在连续下跌的市场里或者规避了损失、或者赚到了钱。</p>

          <p>那么，每经投资宝到底是一款什么样的产品？能给投资者带来哪些实实在在的帮助？</p>

          <p>为此，成都商报记者专访了《每日经济新闻》报社执行总编辑、每经研究院院长、每经投资宝总编辑李伟先生，让我们和他一起，走进“每经投资宝”的世界，去了解每经投资宝。</p>

          <p>记者：李总，每经研究院打造“每经投资宝”系列产品的初衷是什么？</p>

          <p>李伟：我经常思考，投资市场实际上就是一个噪音市场。所谓噪音市场，就是每天在市场内外，充溢着形形色色的金融噪音，浸淫于这种金融噪音里的芸芸股市众生，绝大多数被这巨大的金融噪音所裹挟，从而进行着各种无效的投机行为；另外，每天市场上多达3000多个证券品种（含债券等在内），行情显示红红绿绿，价格上蹿下跳，阴晴不定，机会如白驹过隙，风险如黑云压顶，股市迷乱而又惶惶之，投资者置身其中，赚钱何其难也。</p>

          <p>因此，我们的愿望，就是借助每日经济新闻研究院的专业力量，借助财经新闻人的职业敏感，借助我们多年投资的实战经验，从纷繁迷乱的市场行情运行之中，从形形色色的金融噪音里，抽离出一些反映市场真相的逻辑脉络、进行前瞻性的策略和个股研究，为每天守望着盘面而迷茫的投资者，点亮一盏能稍微看清每天市场的灯，这盏灯，哪怕只能照射到市场的局部角落，也能厘清一些迷雾，在这个角落里，寻找那白驹过隙一般的机会，更重要的是，能规避黑云一般的风险，确保资金的安全。</p>

          <p>这就是我们打造“每经投资宝”系列产品的一个愿望。希望能实现。</p>

          <p>记者:通过几个月的运行，你觉得，它能实现你这个愿望吗？</p>

          <p>李伟:从2012年11月正式上线以来的运行情况看，应该说，它基本实现了。尽管还不尽如我们所期望，但是，我们在不断的改进中。我们提示了很多重大的短线中线投资机会，也提示了很多重大的短线中线的风险，不论是系统性风险还是个股的非系统性风险。</p>

          <p>记者：李总，那么，请问投资宝到底是一款什么样的产品？</p>

          <p>李伟：《每经投资宝》系列产品，主要面向从初级到高端的个人投资者发行。其中部分产品是专门针对机构的产品。目前，已经上线的产品包括三大类：一是普通版本的《投资快讯》；二是中高端版本的《天天赢家》；三是针对机构投资者的《股东大会实录》。下一步，我们将会有更多成熟的产品上线。</p>

          <p>记者：几个版本目前的内容定位是什么？主要针对的受众是哪些？</p>

          <p>李伟：《每经投资宝》针对不同的受众，有不同类型的产品类型和级别。《天天赢家》属于中端偏高的产品，《投资快讯》属于大众类产品。接收方式有两种：一是通过是客户端查看，二是网站在线阅读。</p>

          <p>记者：以投资宝产品为龙头的新媒体资讯产品的发展规划是怎样的？</p>

          <p>李伟：财经媒体应该利用自己的专业人才和专业优势，生产出一系列的更好的产品出来，为投资人服务。未来我们还会继续开发更高端的产品和在线的一系列研究资讯产品，为我们的读者提供更优质的服务。</p>

          <p>记者：在全国财经媒体同类产品中，每经投资宝的优势何在？</p>

          <p>李伟：目前全国财经媒体也有类似的产品上线，通过我们的研究分析和论证，我们认为，《每经投资宝》拥有自己独到的优势，那就是对市场运行所反映出来的信息的全面有效扫描和有价值投资信息的提取，对行业变化和个股公司的前瞻性把握。我们的信息有的放矢，力争做到精确制导。</p>

          <p>记者：请您对《每经投资宝》的前景作一个预测。</p>

          <p>李伟：我相信，就像在过去15年成都商报证券部为投资者所作出的贡献一样，每经投资宝一样会为投资者的投资作出自己的贡献和努力，在目前每日经济新闻这个专业的财经日报平台上，我们一定会做得更好。</p>

          <h2 id="ttyj_buy">如何购买“天天赢家”?</h2>
          <p><strong>在线购买：</strong><br/>前往<a href="/premium/touzibao/tiantianyingjia">每经投资宝·天天赢家的产品首页</a>，点击“立即购买”，根据提示操作即可。</p>
          <p><strong>转账汇款：</strong><br/>账号：43111 01001 0001 7125<br/>开户行：兴业银行成都新华大道支行<br/>开户名：成都每日经济新闻报社有限公司<br/>注：在备注中务必标明“订阅每经投资宝·天天赢家”和手机号码</p>
          <p><strong>报社缴费：</strong><br/>报社地址：成都市锦江区红星路二段159号成都报业大厦<br/>联系电话：028-8666 0288</p>
          
          <h2 id="ttyj_read">购买“天天赢家”后如何阅读?</h2>
          <p><strong>在线阅读：</strong><br/>前往<a href="/premium/touzibao/tiantianyingjia">每经投资宝·天天赢家的产品首页</a>，点击“在线阅读”，根据提示操作即可。<br/>注：已订阅“每经投资宝·天天赢家”的用户，登录后可以查看最新内容；非订阅用户，仅限于查阅往期内容。</p>
          <p><strong>手机客户端：</strong><br/>前往<a href="/premium/touzibao/tiantianyingjia">每经投资宝·天天赢家的产品首页</a>，选择iPhone或Android版本，根据说明进行安装。<br/>注：iPad用户可以暂时使用iPhone客户端，同时敬请关注我们即将推出的iPad客户端。</p>


          <h2 id="ttyj_card">如何使用“天天赢家”点卡?</h2>
          <p>前往<a href="/premium/touzibao/tiantianyingjia">每经投资宝·天天赢家的产品首页</a>，点击“卡号激活”，根据提示操作即可。</p>

          <h2 id="ttyj_service">“天天赢家”的会员服务</h2>
          <p>凡购买每经投资宝·天天赢家一年期的用户可以享受以下会员服务：<br/>
            １、免费参加每经研究院读者沙龙；<br/>
            ２、赠送一份每经研究院“投资年度报告”；<br/>
            ３、参加每经研究院组织的上市公司调研；<br/>
            ４、优先获得每经研究院每周最新研究成果；<br/>
            ５、优先免费试用每经研究院最新资讯产品。 
          </p>

          <h2 id="ttyj_discount">如何获得“天天赢家”的购买优惠？</h2>
          <p>凡参加线下活动并现场订阅每经投资宝1年的用户则可另赠送一张1个月的每经投资宝点卡。</p>

          <h2 id="ttyj_contact">还有其他问题？</h2>
          <p>敬请拔打客服电话：028-8666 0288, 或发送邮件至每经投资宝官方邮箱：<a href="mailto:ttyj@nbd.com.cn">ttyj@nbd.com.cn</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#helpIndex").scrollFix(20,"top");

    $('.tzbSubNav_index').delegate('a[href^=#]', 'click', function(i){
      var cursor = $(this),
          id = cursor.attr('href'),
          top = $(id).offset().top - 80;

      $('html, body').animate({'scrollTop':top}, 400);
      return false;
    });
  });
</script>
