<%if Settings.session_domain == ".nbd.com.cn" %>
<div style="display:none">
	<!--51.la--><script src="http://js.users.51.la/2624298.js" type="text/javascript"></script><noscript><a href="http://www.51.la/?2624298" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/2624298.asp" style="border:none" /></a></noscript>
	<!--bd--><script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fde6470f7123b10c2a7885a20733e9cb1' type='text/javascript'%3E%3C/script%3E"));</script>
	
	<script type="text/javascript">
		// 51
		//$.getScript("http://js.users.51.la/2624298.js");
		
		// Google analysis
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		$.ajax({
			url:(gaJsHost+"google-analytics.com/ga.js"),
			type:"GET",
			dataType:"script",
			cache:true,
			success:function(){
				try {var pageTracker = _gat._getTracker("UA-2055102-1");pageTracker._trackPageview();} catch(err) {}
			}
		});
	</script>
	
</div>
<%end%>
