<div class="nav">
  <b></b>
  <%= render :partial => "layouts/nav"%>
  <div class="nav_products">
    <ul>
      <li class="split"><%= link_to "《每日经济新闻》电子版", 'http://epaper.nbd.com.cn' %></li>
      <li><%= link_to "《每经投资宝》系列产品", premium_touzibao_home_page_url %></li>
    </ul>
  </div>
</div>